{% extends 'master.html' %}

{% block pageTitle %}Candidate Overview{% endblock %}
{% block pageSubTitle %}The list of candidate with the essential details{% endblock %}


<!--            -->

          {% block title_section %}
          <div class="vd_title-section clearfix">
            <div class="vd_panel-header">
              <h1>List of candidates</h1>
               </div>
          </div>
          {% endblock %}


{% block content %}


<link href="/static/plugins/dataTables/css/dataTables.bootstrap.css" rel="stylesheet" type="text/css">




            <div class="row">
              <div class="col-md-12">
                <div class="panel widget">
                  <div class="panel-heading vd_bg-grey">
                    <h3 class="panel-title">List of Candidates</h3>
                  </div>
                  <div class="panel-body">

                      
                          








                    <table class="table table-striped" id="data-tables">
                      <thead>
                        <tr>
                          <th>MRF</th>
                          <th>Name</th>
                          <th>Department</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                     <!--  {% for val in employee %}
                            <li id="{{val.username}}"> 
                            <input type="hidden" value="{{val.username}}" class="candidate">
                              <div class="menu-text">{{val.username}}</div>
                              </li>
                              
                           {% endfor %}
  -->                     <tbody>
                        <tr class="odd gradeX">
                          <td>{{val.username}}</td>
                          <td>{{name_pan}}</td>
                          <td class="menu-action">
                          <a data-original-title="view" data-toggle="tooltip" data-placement="top" class="btn menu-icon vd_bd-green vd_green" onclick="window.open('/print_candidate_information')"> 
                          <i class="fa fa-eye"></i> 
                          </a> 
                          </td>
                        </tr>
                        <tr class="even gradeC">
                          <td>147</td>
                          <td>Captain America</td>
                          <td>Dolor sit amet</td>
                          <td class="menu-action">
                          <a data-original-title="view" data-toggle="tooltip" data-placement="top" class="btn menu-icon vd_bd-green vd_green" onclick="window.open('/print_candidate_information')"> 
                          <i class="fa fa-eye"></i> 
                          </a> 
                          </td>
                        </tr>
                      </tbody>
                    </table>







                  </div>
                 </div>
                </div>
               </div>




<script type="text/javascript" src="/static/plugins/dataTables/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/js/dataTables.bootstrap.js"></script>


<script type="text/javascript">
	
$(document).ready(function(){

        $('#data-tables').dataTable({
          searching: false,
          scrollCollapse: true
        });

})// ./dom.ready

</script>



{% endblock %}

