{% extends 'master.html' %}

{% block pageTitle %}Candidate Overview{% endblock %}
{% block pageSubTitle %}The list of candidate with the essential details{% endblock %}

          {% block title_section %}
          <div class="vd_title-section clearfix">
            <div class="vd_panel-header">
              <h1>List of candidates</h1>
               </div>
          </div>
          {% endblock %}

{% block content %}

<link href="/static/plugins/dataTables/css/dataTables.bootstrap.css" rel="stylesheet" type="text/css">

            <div class="row">
              <div class="col-md-12">
                <div class="panel widget">
                  <div class="panel-heading vd_bg-grey">
                    <h3 class="panel-title">List of Candidates</h3>
                  </div>
                  
                <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>MRF</th>
                          <th>Name</th>
                          <th>data</th>
                        </tr>
                      </thead>

                  {% for val in lists %}
            
                    <div class="panel-body">
                     <tbody>
                       
                        <tr class="even gradeC">
                          <td>147</td>
                          <td>{{val.first_name}} {{val.last_name}}</td>
                          <!-- <td class="menu-action"> -->
                           
                           <!--<a data-original-title="view" data-toggle="tooltip" data-placement="top" class="btn menu-icon vd_bd-green vd_green" onclick="window.open('/print_candidate_information')"> 
                          <i class="fa fa-eye"></i> --> 

                          </a> 
                          </td>
                        </tr>
                      </tbody>
                      {% endfor %}
                    </table>

                  </div>
                 </div>
                </div>
               </div>



<script type="text/javascript" src="/static/plugins/dataTables/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/js/dataTables.bootstrap.js"></script>


<!-- <script type="text/javascript">
	
$(document).ready(function(){

        $('#data-tables').dataTable({
          searching: false,
          scrollCollapse: true
        });

})// ./dom.ready
</script> -->


<script type="text/javascript">
    var theObj = 
                                {
                  {%for val in lists%}
                                  "{{val.first_name}},{{val.last_name}}":{
                                                "first_name": "{{val.first_name}}",
                                                "last_name": "{{val.last_name}}"
                                                  },    
                  {%endfor%}   
                                }

$('#data').click(function(){
              // e.preventDefault();
              debugger;
        var first_name;
        var last_name;
        for (var key in theObj[the_id_key]) {
                console.log(theObj[the_id_key]['first_name']);
                var first_name = theObj[the_id_key]['first_name'];
                console.log(theObj[the_id_key]['last_name']);
                var last_name = theObj[the_id_key]['last_name'];
              }
        $.ajax({
          type: "GET",
          url : '/candidate',
          data : {'first_name':first_name,'last_name':last_name},
          success : function(data){
            window.location='/user_details/print_candidate_information'
                             // return data;
           }
                            // error: function(xhr, status, error) {
                            //   alert(xhr.responseText);
                            // }
        });
      });
             
</script>



{% endblock %}

