{% extends 'master.html' %}
{% block pageTitle %}One step to finish{% endblock %}
{% block pageSubTitle %}Confirm all the details and finish{% endblock %}
{%block content %}

<div class="vd_content-section clearfix">
  <div class="row">
    <div class="col-md-12">
      <div class="panel widget">
        <div class="panel-heading vd_bg-grey">
          <h3 class="panel-title"> <span class="menu-icon"> <i class="fa fa-magic"></i> </span> {{ request.user.username }} </h3>
        </div>
        <div class="panel-body">

            <div id="wizard-2" class="form-wizard">
              <ul>
                <li><a href="/myansrsource/user_details">
                  <div class="menu-icon"> 1 </div>
                  User Profile </a></li>
                <li><a href="/myansrsource/user_details/education">
                  <div class="menu-icon"> 2 </div>
                  Education </a></li>
                <li><a href="/myansrsource/user_details/previous_employment">
                  <div class="menu-icon"> 3 </div>
                  Previous Employment </a></li>
                <li><a href="/myansrsource/user_details/proof">
                  <div class="menu-icon"> 4 </div>
                  Proof </a></li>
                <li class="active"><a href="#tab5" data-toggle="tab">
                  <div class="menu-icon"> 5 </div>
                  Confirm </a></li>
              </ul>
<hr>

<!--               <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-info" > </div>
              </div> -->

<div class="tab-pane" id="tab5">
<h4 class="text-center thanks-text">  {% if user.is_authenticated %}
  Thanks for filling the forms {{ user.username }}.
  Check with the details again and finish it.
  {%endif%}</h4>
  <form class="form-horizontal" role="form">
      <div class="form-group">
        <label class="col-sm-5 control-label">First Name</label>
        <div class="col-sm-6 controls">
        {{user.first_name}}
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-5 control-label">Last Name</label>
        <div class="col-sm-6 controls">
          {{user.last_name}}

        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-5 control-label">Gender</label>
        <div class="col-sm-6 controls">
          {{gender}}
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-5 control-label">Nationality</label>
        <div class="col-sm-6 controls">
          {{nationality}}

        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-5 control-label">Blood Group</label>
        <div class="col-sm-6 controls">
          {{blood_group}}

        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-5 control-label">Mobile Phone</label>
        <div class="col-sm-6 controls">
          {{mobile_phone}}

        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-5 control-label">Emergency Phone</label>
        <div class="col-sm-6 controls">
          {{emergency_phone1}}

        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-5 control-label">Emergency Phone</label>
        <div class="col-sm-6 controls">
          {{emergency_phone2}}

        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-5 control-label">Personal Email</label>
        <div class="col-sm-6 controls">
          {{personal_email}}

        </div>
      </div>



      <h3 class="col-sm-12 text-right"><a href="/myansrsource/loggedin"><input type="button" class="btn btn-success" value="Finish"/></a></h3>
  </form>
</div><!-- ./tab-pane -->
</div><!-- ./wizard1 ~~~ -->
</div>
<!-- Panel Body -->
</div>
<!-- Panel Widget -->
</div>
<!-- col-md-12 -->
</div>
<!-- row -->

</div>
<!-- .vd_content-section -->


<!-- End here -->


{% endblock %}
