{% extends 'master.html' %}

{% block pageTitle %}Download Forms{% endblock %}
{% block pageSubTitle %}Download all the required forms here{% endblock %}

{% block content %}





            <div class="row">
              <div class="col-md-12">
                <div class="panel widget">
                  <div class="panel-heading vd_bg-grey">
                    <h3 class="panel-title">Form list</h3>
                  </div>
                  <div class="panel-body">
					<div id="display-forms" class="row">
						<div class="col-sm-4">
							<a href="/static/img/forms/Gratuity.jpg" class="the-form" target="_blank">
								<img src="/static/img/forms/Gratuity.jpg">
								<h3>Gratuity Form</h3>
							</a>
						</div>
						<div class="col-sm-4">
							<a href="/static/img/forms/PF.jpg" class="the-form" target="_blank">
								<img src="/static/img/forms/PF.jpg">
								<h3>PF Form</h3>
							</a>
						</div>
						<div class="col-sm-4">
							<a href="/static/img/forms/Form2.jpg" class="the-form" target="_blank">
								<img src="/static/img/forms/Form2.jpg">
								<h3>Form 2</h3>
							</a>
						</div>
					</div><!-- ./display-forms -->
                  </div>
                 </div>
                </div>
               </div>
{% endblock %}

