{% extends 'master.html' %}
{% block pageTitle %}Education Details{% endblock %}
{% block pageSubTitle %}Start entering your education details here{% endblock %}
{%block content %}


  <div class="row">
    <div class="col-md-12">
      <div class="panel widget">
        <div class="panel-heading vd_bg-grey">
          <h3 class="panel-title"> <span class="menu-icon"> <i class="fa fa-magic"></i> </span> {{ request.user.username }} </h3>
        </div>
        <div class="panel-body">

            <div id="wizard-2" class="form-wizard">
              <ul>
                <li><a href="/myansrsource/user_details">
                  <div class="menu-icon"> 1 </div>
                  User Profile </a></li>
                <li class="active"><a href="#tab2" data-toggle="tab">
                  <div class="menu-icon"> 2 </div>
                  Education </a></li>
                <li><a href="/myansrsource/user_details/previous_employment">
                  <div class="menu-icon"> 3 </div>
                  Previous Employment </a></li>
                <li><a href="/myansrsource/user_details/proof">
                  <div class="menu-icon"> 4 </div>
                  Proof </a></li>
                <li><a href="/myansrsource/user_details/confirm">
                  <div class="menu-icon"> 5 </div>
                  Confirm </a></li>
              </ul>
<hr>

<!--               <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-info" > </div>
              </div> -->



<div class="tab-pane" id="tab2">

  <form id="education_form" enctype="multipart/form-data" method="post" class="form-horizontal col-sm-7" enctype="multipart/form-data" data-toggle="validator">

  {% csrf_token %}
  <!-- <div class="form-group">
    <label class="col-sm-5 control-label">Employee</label>
    <div class="col-sm-7 controls">
      {{form.employee}}
    </div>
  </div> -->

  <div class="form-group">
    <label class="col-sm-5 control-label">Qualification<span class="mandatory-field"> *</span></label>
    <div class="col-sm-7 controls">
      {{form.qualification}}
      <div class="help-block with-errors"></div>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-5 control-label">Specialization<span class="mandatory-field"> *</span></label>
    <div class="col-sm-7 controls">
      {{form.specialization}}
      <div class="help-block with-errors"></div>
    </div>
  </div>



  <div class="form-group">
    <label id ="from_date" class="col-sm-5 control-label">From Date<span class="mandatory-field"> *</span></label>
    <div class="col-sm-7 controls">
      <div class="input-group">
        {{form.from_date}}
      <div class="help-block with-errors"></div>
        <span class="input-group-addon" id="datepicker-icon-trigger" data-datepicker="#datepicker-icon"><i class="fa fa-calendar"></i></span> </div>
    </div>
  </div>
  <div class="form-group">
    <label id="to_date" class="col-sm-5 control-label">To Date<span class="mandatory-field"> *</span></label>
    <div class="col-sm-7 controls">
      <div class="input-group">
        {{form.to_date}}
        <div class="help-block with-errors"></div>        
        <span class="input-group-addon" id="datepicker-icon-trigger" data-datepicker="#datepicker-icon"><i class="fa fa-calendar"></i></span> </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-5 control-label">Institution<span class="mandatory-field"> *</span></label>
    <div id="institute" class="col-sm-7 controls">
      {{form.institute}}
      <div class="help-block with-errors"></div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-5 control-label">Board/University<span class="mandatory-field"> *</span></label>
    <div class="col-sm-7 controls">
      {{form.board_university}}
      <div class="help-block with-errors"></div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-5 control-label">Overall Marks<span class="mandatory-field"> *</span></label>
    <div class="col-sm-7 controls">
      {{form.overall_marks}}
      {{form.marks_card_attachment}}
      <div class="help-block with-errors"></div>
    </div>
  </div>

  
  
  <div class="form-group">

        <h3 class="col-sm-12 text-right"><input type="submit" id="submit" class="btn vd_bg-green vd_white" value="Save"/></h3>

  </div>
</form>


<div id="user-list" class="col-sm-5">
<!--   <input type="button" id="vivek1" class="btn vd_bg-green vd_white width-10" value="vivek1"/>
  <input type="button" id="vivek2" class="btn vd_bg-green vd_white width-10" value="vivek2"/> -->

  <div class="content-list">
      <ul class="list-wrapper">
        <li id="graduation_1"> 
          <div class="menu-text">Graduation 1</div>
        </li>
        <li id="graduation_2"> 
          <div class="menu-text">Graduation 2</div>
        </li>
      </ul>
    </div><!-- ./ content-list -->

  </div><!-- ./ user-list -->


</div><!-- ./tab-content -->



                       </div><!-- ./wizard1 ~~~ -->

                  </div>
                  <!-- Panel Body -->
                </div>
                <!-- Panel Widget -->
              </div>
              <!-- col-md-12 -->
            </div>
            <!-- row -->
            
            

            <script type="text/javascript">
              {%for val in education_list%}
              
                
            var theObj = {"graduation_1":{
                            "qualification": "{{val.qual}}",
                            "specialization": "{{val.spec}}"
                          }  
                        }
              {%endfor%}          
            $('.content-list li').click(function(){
              // e.preventDefault();
              // debugger;
              var qualification;
              var specialization;
              var the_id_key = $(this).attr('id');
              console.log(the_id_key);
              // Object Iteration
              for (var key in theObj[the_id_key]) {
                console.log(theObj[the_id_key]['qualification']);
                var qualification = theObj[the_id_key]['qualification'];
                console.log(theObj[the_id_key]['specialization']);
                var specialization = theObj[the_id_key]['specialization'];
              }
              
                $.ajax({
                  type: "GET",
                  url : '/myansrsource/user_details/education',
                  data : {'qualification':qualification,'specialization':specialization},
                  success : function(data){
                   $("#education_form").html(data);
                   // return data;
                  }
                  // error: function(xhr, status, error) {
                  //   alert(xhr.responseText);
                  // }
                });
              
          });
            $("#education_form").submit(function (e) {
                  e.preventDefault();
                  var data = new FormData($('form').get(0));
                  swal({   title: "Do you want to add again?",
                    text: "If you want to add another eduaction detail press yes else click no!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Save and fill again!",
                    cancelButtonText: "Save and continue to next tab",
                    closeOnConfirm: true,
                    closeOnCancel: true
                    },
                    function(isConfirm) {
                      if (isConfirm) {
                        $.ajax( {
                          type: "POST",
                          url: '/myansrsource/user_details/education',
                          data: data,
                          cache: false,
                          processData: false,
                          contentType: false,
                          success: function( response ) {
                             window.location='/myansrsource/user_details/education'
                          }
                        });
                      }else{
                          $.ajax( {
                            type: "POST",
                            url: '/myansrsource/user_details/education',
                            data: data,
                            cache: false,
                            processData: false,
                            contentType: false,
                            success: function( response ) {
                               window.location='/myansrsource/user_details/previous_employment'
                        }
                      });}});
                    });
            </script>
<!-- End here -->

{% endblock %}