{% extends 'master.html' %}
{% block pageTitle %}Education Details{% endblock %}
{% block pageSubTitle %}Start entering your education details here{% endblock %}
{%block content %}


  <div class="row">
    <div class="col-md-12">
      <div class="panel widget">
        <div class="panel-heading vd_bg-grey">
          <h3 class="panel-title"> <span class="menu-icon"> <i class="fa fa-magic"></i> </span> Wizard Basic </h3>
        </div>
        <div class="panel-body">

            <div id="wizard-2" class="form-wizard">
              <ul>
                <li><a href="/myansrsource/user_details">
                  <div class="menu-icon"> 1 </div>
                  User Profile </a></li>
                <li class="active"><a href="#tab2" data-toggle="tab">
                  <div class="menu-icon"> 2 </div>
                  Education </a></li>
                <li><a href="/myansrsource/user_details/previous_employment">
                  <div class="menu-icon"> 3 </div>
                  Previous Employment </a></li>
                <li><a href="/myansrsource/user_details/proof">
                  <div class="menu-icon"> 4 </div>
                  Proof </a></li>
                <li><a href="/myansrsource/user_details/confirm">
                  <div class="menu-icon"> 5 </div>
                  Confirm </a></li>
              </ul>


              <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-info" > </div>
              </div>



<div class="tab-pane" id="tab2">

  <form id="education_form" enctype="multipart/form-data" method="post" class="form-horizontal" enctype="multipart/form-data">

  {% csrf_token %}
  <!-- <div class="form-group">
    <label class="col-sm-2 control-label">Employee</label>
    <div class="col-sm-7 controls">
      {{education_form.employee}}

    </div>
  </div> -->

  <div class="form-group">
    <label class="col-sm-2 control-label">Qualification<span class="mandatory-field"> *</span></label>
    <div class="col-sm-7 controls">
      {{education_form.qualification}}

    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Specialization<span class="mandatory-field"> *</span></label>
    <div class="col-sm-7 controls">
      {{education_form.specialization}}

    </div>
  </div>



  <div class="form-group">
    <label class="col-sm-2 control-label">From Date<span class="mandatory-field"> *</span></label>
    <div class="col-sm-3 controls">
      <div class="input-group">
        {{education_form.from_date}}

        <span class="input-group-addon" id="datepicker-icon-trigger" data-datepicker="#datepicker-icon"><i class="fa fa-calendar"></i></span> </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">To Date<span class="mandatory-field"> *</span></label>
    <div class="col-sm-3 controls">
      <div class="input-group">
        {{education_form.to_date}}

        <span class="input-group-addon" id="datepicker-icon-trigger" data-datepicker="#datepicker-icon"><i class="fa fa-calendar"></i></span> </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Institution<span class="mandatory-field"> *</span></label>
    <div class="col-sm-7 controls">
      {{education_form.institute}}

    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Overall Marks<span class="mandatory-field"> *</span></label>
    <div class="col-sm-7 controls">
      {{education_form.overall_marks}}
      {{education_form.marks_card_attachment}}

    </div>
  </div>
  <div class="form-group">

        <h3 class="col-sm-12 text-right"><input type="submit" id="submit" class="btn btn-danger" value="Save"/></h3>

  </div>
</form>

</div><!-- ./tab-content -->



                       </div><!-- ./wizard1 ~~~ -->

                  </div>
                  <!-- Panel Body -->
                </div>
                <!-- Panel Widget -->
              </div>
              <!-- col-md-12 -->
            </div>
            <!-- row -->



            <script type="text/javascript">
            $("#education_form").submit(function (e) {
                  e.preventDefault();
                  var data = new FormData($('form').get(0));
                  swal({   title: "Do you want to add again?",
      							text: "If you want to add another eduaction detail press yes else click no!",
      							type: "warning",
      							showCancelButton: true,
      							confirmButtonColor: "#DD6B55",
      							confirmButtonText: "Save and fill again!",
      							cancelButtonText: "Save and continue to next tab",
      							closeOnConfirm: true,
      							closeOnCancel: true
      							},
                    function(isConfirm) {
                      if (isConfirm) {

                        $.ajax( {
                          type: "POST",
                          url: '/myansrsource/user_details/education',
                          data: data,
                          cache: false,
                          processData: false,
                          contentType: false,
                          success: function( response ) {
                             window.location='/myansrsource/user_details/education'
                          }

                        });
                      }else{
                          $.ajax( {
                            type: "POST",
                            url: '/myansrsource/user_details/education',
                            data: data,
                            cache: false,
                            processData: false,
                            contentType: false,
                            success: function( response ) {
                               window.location='/myansrsource/user_details/previous_employment'
                        }
                      });}});
                    });

            </script>
<!-- End here -->

{% endblock %}
