
  {% csrf_token %}
  <!-- <div class="form-group">
    <label class="col-sm-2 control-label">Employee</label>
    <div class="col-sm-7 controls">
      {{education_form.employee}}

    </div>
  </div> -->

  <div class="form-group">
    <label class="col-sm-5 control-label">Education Type<span class="mandatory-field"> *</span></label>
    <div class="col-sm-7 controls">
      {{form.education_type}}
      {{form.education_type.errors}}
      <div class="help-block with-errors"></div>
    </div>
  </div>
  
  <div class="form-group">
    <label class="col-sm-5 control-label">Qualification<span class="mandatory-field"> *</span></label>
    <div class="col-sm-7 controls">
      {{form.qualification}}
      {{form.qualification.errors}}
      <div class="help-block with-errors"></div>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-5 control-label">Specialization<span class="mandatory-field"> *</span></label>
    <div class="col-sm-7 controls">
      {{form.specialization}}

      {{form.specialization.errors}}
      <div class="help-block with-errors"></div>
    </div>
  </div>


  <div class="form-group">
    <label id ="from_date" class="col-sm-5 control-label">From Date<span class="mandatory-field"> *</span></label>
    <div class="col-sm-7 controls">
      <div class="input-group">
        {{form.from_date}}
        {{form.from_date.errors}}
        <span class="help-inline">Format:DD/MM/YYYY</span>
      <div class="help-block with-errors"></div>
        <span class="input-group-addon" id="datepicker-icon-trigger" data-datepicker="#datepicker-icon"><i class="fa fa-calendar"></i></span> </div>
    </div>
  </div>
  <div class="form-group">
    <label id="to_date" class="col-sm-5 control-label">To Date<span class="mandatory-field"> *</span></label>
    <div class="col-sm-7 controls">
      <div class="input-group">
        {{form.to_date}}
        {{form.to_date.errors}}
        <span class="help-inline">Format:DD/MM/YYYY</span>
        <div class="help-block with-errors"></div>        
        <span class="input-group-addon" id="datepicker-icon-trigger" data-datepicker="#datepicker-icon"><i class="fa fa-calendar"></i></span> </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-5 control-label">Institution<span class="mandatory-field"> *</span></label>
    <div id="institute" class="col-sm-7 controls">
      {{form.institute}}
      {{form.institute.errors}}
      <div class="help-block with-errors"></div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-5 control-label">Board/University<span class="mandatory-field"> *</span></label>
    <div class="col-sm-7 controls">
      {{form.board_university}}
      {{form.board_university.errors}}
      <div class="help-block with-errors"></div>
    </div>
  </div>
  
  <div class="form-group">
    <label class="col-sm-5 control-label">Overall percentage/CPGA<span class="mandatory-field"> *</span></label>
    <div class="col-sm-7 controls">
      {{form.overall_marks}}

      {{form.overall_marks.errors}}

      {{form.marks_card_attachment}}
      <div class="help-block with-errors"></div>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-5 control-label">Overall Marks</label>
    <div class="col-sm-7 controls">


      {{form.marks_card_attachment}}
      <div class="help-block with-errors"></div>
    </div>
  </div>

  
  <div class="form-group">

        <h3 class="col-sm-12 text-right">
          <input type="submit" id="submit" class="btn vd_bg-green vd_white" value="Update"/>
        </h3>

  </div>
            

