
                          <div class="tab-pane" id="tab2">

                            <form id="education_form" method="post" enctype="multipart/form-data">

                            {% csrf_token %}
                            <div class="form-group">
                              <label class="col-sm-2 control-label">Employee</label>
                              <div class="col-sm-7 controls">
                                {{education_form.employee}}
                                <!-- <input type="text" class="input-sm"> -->
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="col-sm-2 control-label">Specialization</label>
                              <div class="col-sm-7 controls">
                                {{education_form.specialization}}
                                <!-- <input type="text" class="input-sm"> -->
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="col-sm-2 control-label">Qualification</label>
                              <div class="col-sm-7 controls">
                                {{education_form.qualification}}
                                <!-- <input type="text" class="input-sm"> -->
                              </div>
                            </div>


                            <div class="form-group">
                              <label class="col-sm-2 control-label">From Date</label>
                              <div class="col-sm-3 controls">
                                <div class="input-group">
                                  {{education_form.from_date}}
                                  <!-- <input type="text" placeholder="Date" id="datepicker-icon" class="hasDatepicker"> -->
                                  <span class="input-group-addon" id="datepicker-icon-trigger" data-datepicker="#datepicker-icon"><i class="fa fa-calendar"></i></span> </div>
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="col-sm-2 control-label">To Date</label>
                              <div class="col-sm-3 controls">
                                <div class="input-group">
                                  {{education_form.to_date}}
                                  <!-- <input type="text" placeholder="Date" id="datepicker-icon" class="hasDatepicker"> -->
                                  <span class="input-group-addon" id="datepicker-icon-trigger" data-datepicker="#datepicker-icon"><i class="fa fa-calendar"></i></span> </div>
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="col-sm-2 control-label">Institution</label>
                              <div class="col-sm-7 controls">
                                {{education_form.institute}}
                                <!-- <input type="text" class="input-sm"> -->
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="col-sm-2 control-label">Overall Marks</label>
                              <div class="col-sm-7 controls">
                                {{education_form.overall_marks}}
                                <!-- <input type="text" class="input-sm"> -->
                              </div>
                            </div>
                            <h3 class="text-center"><input type="submit" id="submit1" class="btn btn-danger" value="Submit1"/></h3>
                       </form>



                          </div><!-- ./tab-pane -->
