{% extends 'master.html' %}
{% load bootstrap3 %}
{% load static from staticfiles %}
{% block pageTitle %}User Details{% endblock %}
{% block pageSubTitle %}Start entering your details here{% endblock %}
{% block content %}
<!-- Start Here -->


            <div class="row">
              <div class="col-md-12">
                <div class="panel widget">
                  <div class="panel-heading vd_bg-grey">
                    <h3 class="panel-title"> <span class="menu-icon"> <i class="fa fa-magic"></i> </span> {{user.first_name}} {{user.last_name}} </h3>
                  </div>
                  <div class="panel-body">

                      <div id="wizard-2" class="form-wizard">
                        <ul>
                          <li><a href="#tab1" data-toggle="tab">
                            <div class="menu-icon"> 1 </div>
                            User Profile </a></li>
                          <li><a href="/user_details/education">
                            <div class="menu-icon"> 2 </div>
                            Education </a></li>
                          <li><a href="/user_details/previous_employment">
                            <div class="menu-icon"> 3 </div>
                            Previous Employment </a></li>
                          <li><a href="/user_details/proof">
                            <div class="menu-icon"> 4 </div>
                            Proof </a></li>
                          <li><a href="/user_details/confirm">
                            <div class="menu-icon"> 5 </div>
                            Confirm </a></li>
                        </ul>
<hr>

<!--                         <div class="progress progress-striped active">
                          <div class="progress-bar progress-bar-info" > </div>
                        </div> -->



                        <div class="tab-content no-bd">

                          <div class="tab-pane" id="tab1">

                        <!-- <div id="ajax_loader_user_details_form" class="ajax_bck"><div class="ajax_load_image"></div></div> -->


<!-- ~~~~sanjay~~~~ -->

                    


                        <form id="family_details_form" method="post" class="form-horizontal" enctype="multipart/form-data" data-toggle="validator">

                        {% csrf_token %}

                        <!-- <div class="form-group">
                          <label class="col-sm-2 control-label">UserName</label>
                          <div class="col-sm-7 controls">
                            {{form.employee}}

                          </div>
                        </div> -->
                              <div class="form-group">
                              <label class="col-sm-2 control-label">Marital Status<span class="mandatory-field"> *</span></label>
                              <div class="col-sm-7 controls">
                                {{form.marital_status}}
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>

                            <div class="form-group wedding_date_form_group">
                              <label class="col-sm-2 control-label">Wedding Date</label>
                              <div class="col-sm-7 controls">
                                {{form.wedding_date}}
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>
                            
                            <div class="form-group spouse_name_form_group">
                              <label class="col-sm-2 control-label">Spouse Name</label>
                              <div class="col-sm-2 controls">
                                {{form.spouse_name}}
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>

                            <div class="form-group no_of_children_form_group">
                              <label class="col-sm-2 control-label">Number of children</label>
                              <div class="col-sm-7 controls">
                                {{form.no_of_children}}
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>

                           


                            <div class="form-group">
                              <label class="col-sm-2 control-label">Mother Name<span class="mandatory-field"> *</span></label>
                              <div class="col-sm-7 controls">
                                {{form.mother_name}}
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>

                            <div class="form-group">
                              <label class="col-sm-2 control-label">Mother Date of birth</label>
                              <div class="col-sm-2 controls">
                                {{form.mother_dob}}
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>

                            <div class="form-group">
                              <label class="col-sm-2 control-label">Mother Profession</label>
                              <div class="col-sm-7 controls">
                                {{form.mother_profession}}
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>

                            <div class="form-group">
                              <label class="col-sm-2 control-label">Father Name<span class="mandatory-field"> *</span></label>
                              <div class="col-sm-7 controls">
                                {{form.father_name}}
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>

                            

                            <div class="form-group">
                              <label class="col-sm-2 control-label">Father Date of Birth</label>
                              <div class="col-sm-7 controls">
                                {{form.father_dob}}
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>

                            <div class="form-group">
                              <label class="col-sm-2 control-label">Father Profession</label>
                              <div class="col-sm-7 controls">
                                {{form.father_profession}}
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>

                            <div class="form-group child1_name_form_group">
                              <label class="col-sm-2 control-label">Child1 Name</label>
                              <div class="col-sm-7 controls">
                                {{form.child1_name}}
                                <div class="help-block with-errors"></div>                                
                              </div>
                            </div>

                            <div class="form-group child2_name_form_group">
                              <label class="col-sm-2 control-label">Child2 Name</label>
                              <div class="col-sm-7 controls">
                                {{form.child2_name}}
                                
                                <div class="help-block with-errors"></div>

                              </div>
                            </div>


                           
                    <!--         <div class="form-group">
                              <label class="col-sm-2 control-label">Emergency Phone (primary)<span class="mandatory-field"> *</span></label>
                              <div class="col-sm-7 controls">
                                {{form.emergency_phone1}}
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>


                            <div class="form-group">
                              <label class="col-sm-2 control-label">Emergency Phone (secondary)<span class="mandatory-field"> *</span></label>
                                  <div class="col-sm-7 controls">
                                    {{form.emergency_phone2}}
                                <div class="help-block with-errors"></div>
                                    </div>
                                </div> -->

                            <div class="form-group">
                                <h3 class="col-sm-12 text-right"><input type="submit" id="submit" class="btn vd_bg-green vd_white width-10" value="Save"/></h3>
                            </div>
                        </form>

<!-- ~~~~sanjay~~~~ -->
                            </div><!-- ./tab-pane -->








                       </div><!-- ./wizard1 ~~~ -->

                  </div>
                  <!-- Panel Body -->
                </div>
                <!-- Panel Widget -->
              </div>
              <!-- col-md-12 -->
            </div>
            <!-- row -->

<script type="text/javascript">

$("#family_details_form").submit(function (e) {
                  e.preventDefault();
                  swal({   title: "Thank you for filling your family details",
                    text: "Keep your education documents and fill the next form",
                    type: "success",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Next Tab",
                    closeOnConfirm: true,
                    closeOnCancel: true
                    },
                    function(isConfirm) {
                      if (isConfirm) {
                        $.ajax( {
                          type: "POST",
                          url: '/user_details/family_details',
                          data: $("#family_details_form").serialize(),
                          success: function( response ) {
                             window.location='/user_details/education'
                          }
                        });
                      }else{
                          swal("There was some problem with your data")
                        }});
                    });



$('select#id_marital_status').change(function(){
  if($(this).val() == 'MA'){
    $('.wedding_date_form_group').removeClass('hidden');
    $('#id_wedding_date').attr('required', true);
    $('.spouse_name_form_group').removeClass('hidden');
    $('#id_spouse_name').attr('required', true);
    $('.child1_name_form_group').removeClass('hidden');
    $('#id_child1_name').attr('required', true);
    $('.child2_name_form_group').removeClass('hidden');
    $('#id_child2_name').attr('required', true);
    
    $('.no_of_children_form_group').removeClass('hidden');
    $('#id_child2_name').attr('required', true);
  }else if($(this).val() !== 'MA'){
    $('.wedding_date_form_group').addClass('hidden');
    $('#id_wedding_date').removeAttr('required');
    $('.spouse_name_form_group').addClass('hidden');
    $('#id_spouse_name').removeAttr('required');
    $('.child1_name_form_group').addClass('hidden');
    $('#id_child1_name').removeAttr('required');
    $('.child2_name_form_group').addClass('hidden');
    $('#id_child2_name').removeAttr('required');
    
    $('.no_of_children_form_group').addClass('hidden');
    $('#id_child2_name').removeAttr('required');
      
  }
})


</script>

{% endblock %}
