{% extends 'master.html' %}


{% block content %}

<!-- Head Section of Form Pages -->


            <div class="row">
              <div class="col-md-12">
                <div class="panel widget">
                  <div class="panel-heading vd_bg-grey">
                    <h3 class="panel-title"> <span class="menu-icon"> <i class="fa fa-magic"></i> </span> {{user.first_name}} {{user.last_name}} </h3>
                  </div>
                  <div class="panel-body">



                      <div id="wizard-2" class="form-wizard">
                        <ul>

                            {% if request.get_full_path == "/user_details" %}<li class="active"><a href="#tab1" data-toggle="tab"> {% else %} <li><a href="/user_details"> {% endif %}
                            <div class="menu-icon"> 1 </div>
                            User Profile </a></li>
                            {% if request.get_full_path == "/user_details/family_details" %}<li class="active"><a href="#tab1" data-toggle="tab"> {% else %} <li><a href="/user_details/family_details"> {% endif %}
                            <div class="menu-icon"> 2 </div>
                            Family Details </a></li>
                            {% if request.get_full_path == "/user_details/education" %}<li class="active"><a href="#tab1" data-toggle="tab"> {% else %} <li><a href="/user_details/education"> {% endif %}
                            <div class="menu-icon"> 3 </div>
                            Education </a></li>
                            {% if request.get_full_path == "/user_details/previous_employment" %}<li class="active"><a href="#tab1" data-toggle="tab"> {% else %} <li><a href="/user_details/previous_employment"> {% endif %}
                            <div class="menu-icon"> 4 </div>
                            Previous Employment </a></li>
                            {% if request.get_full_path == "/user_details/proof" %}<li class="active"><a href="#tab1" data-toggle="tab"> {% else %} <li><a href="/user_details/proof"> {% endif %}
                            <div class="menu-icon"> 5 </div>
                            Proof </a></li>
                            {% if request.get_full_path == "/user_details/confirm" %}<li class="active"><a href="#tab1" data-toggle="tab"> {% else %} <li><a href="/user_details/confirm"> {% endif %}
                            <div class="menu-icon"> 6 </div>
                            Confirm </a></li>

                        </ul>


<hr>


                        <div class="tab-content no-bd">

                          <div class="tab-pane active" id="tab1">




<!-- template specific stuff -->
                    {% if messages %}

                    {% for message in messages %}

                  <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"><i class="icon-cross"></i></button>
                    <span class="vd_alert-icon"><i class="fa fa-exclamation-circle vd_red"></i></span><strong>{{message}}</strong></div>

                    {% endfor %}

                {% endif %}
<!-- ./ template specific stuff -->                




                    

  {% block form_content %}{% endblock %}



                        
                            </div><!-- ./tab-pane -->

                       </div><!-- ./wizard1 ~~~ -->

                  </div>
                  <!-- Panel Body -->
                </div>
                <!-- Panel Widget -->
              </div>
              <!-- col-md-12 -->
            </div>
            <!-- row -->


                    

  {% block form_scripts %}{% endblock %}





{% endblock %}

 