{% load permissions %}
<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html><!--<![endif]-->

<!-- Specific Page Data -->
<!-- End of Data -->

<head>
    <meta charset="utf-8" />
    <title>{% block  siteTitle %}HRportal{% endblock %}</title>
    <meta name="keywords" content="HTML5 Template, CSS3, Mega Menu, Admin Template, Elegant HTML Theme, Vendroid" />
    <meta name="description" content="Form Wizards - Responsive Admin HTML Template">
    <meta name="author" content="Venmond">

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/img/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/img/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/img/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/img/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/static/img/ico/favicon.png">


    <!-- CSS -->

    <!-- Bootstrap & FontAwesome & Entypo CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!--[if IE 7]><link type="text/css" rel="stylesheet" href="/static/css/font-awesome-ie7.min.css"><![endif]-->
    <link href="/static/css/font-entypo.css" rel="stylesheet" type="text/css">

    <!-- Fonts CSS -->
    <link href="/static/css/fonts.css"  rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="/static/plugins/jquery-ui/jquery-ui.custom.min.css" rel="stylesheet" type="text/css">
    <link href="/static/plugins/prettyPhoto-plugin/css/prettyPhoto.css" rel="stylesheet" type="text/css">
    <link href="/static/plugins/isotope/css/isotope.css" rel="stylesheet" type="text/css">
    <link href="/static/plugins/pnotify/css/jquery.pnotify.css" media="screen" rel="stylesheet" type="text/css">
	<link href="/static/plugins/google-code-prettify/prettify.css" rel="stylesheet" type="text/css">


<!--     <link href="/static/plugins/mCustomScrollbar/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css">
    <link href="/static/plugins/tagsInput/jquery.tagsinput.css" rel="stylesheet" type="text/css"> -->
    <link href="/static/plugins/bootstrap-switch/bootstrap-switch.css" rel="stylesheet" type="text/css">
    <link href="/static/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css">
    <link href="/static/plugins/bootstrap-timepicker/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css">
    <link href="/static/plugins/colorpicker/css/colorpicker.css" rel="stylesheet" type="text/css">

	<!-- Specific CSS -->

<!--     <link href="http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css" rel="stylesheet" type="text/css">
    <link href="http://vendroid.venmond.com/plugins/jquery-file-upload/css/jquery.fileupload.css" rel="stylesheet" type="text/css">
    <link href="http://vendroid.venmond.com/plugins/jquery-file-upload/css/jquery.fileupload-ui.css" rel="stylesheet" type="text/css"> -->

    <!-- Theme CSS -->
    <link href="/static/css/theme.min.css" rel="stylesheet" type="text/css">
    <!--[if IE]> <link href="/static/css/ie.css" rel="stylesheet" > <![endif]-->
    <link href="/static/css/chrome.css" rel="stylesheet" type="text/chrome"> <!-- chrome only css -->



    <!-- Responsive CSS -->
        	<link href="/static/css/theme-responsive.min.css" rel="stylesheet" type="text/css">




    <!-- for specific page in style css -->

    <!-- for specific page responsive in style css -->


    <!-- Custom CSS -->
    <link href="/static/custom/custom.css" rel="stylesheet" type="text/css">



    <!-- Head SCRIPTS -->
<!--     <script type="text/javascript" src="/static/js/modernizr.js"></script>
    <script type="text/javascript" src="/static/js/mobile-detect.min.js"></script>
    <script type="text/javascript" src="/static/js/mobile-detect-modernizr.js"></script> -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script type="text/javascript" src="/static/js/html5shiv.js"></script>
      <script type="text/javascript" src="/static/js/respond.min.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-promise/4.0.5/es6-promise.min.js"></script>

    {# Load SweetAlert CSS and JS #}
       <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/sweetalert/1.0.1/sweetalert.min.css" media="screen">
       <script src="//cdnjs.cloudflare.com/ajax/libs/sweetalert/1.0.1/sweetalert.min.js"></script>


</head>

<body id="forms" class="full-layout  nav-right-hide nav-right-start-hide  nav-top-fixed      responsive    clearfix" data-active="forms "  data-smooth-scrolling="1">
<div class="vd_body">
<!-- Header Start -->
  <header class="header-1" id="header">
      <div class="vd_top-menu-wrapper">
        <div class="container ">
          <div class="vd_top-nav vd_nav-width  ">
          <div class="vd_panel-header">
          	<div class="logo">
            	<a href="/loggedin"><img alt="logo" src="/static/img/ansrlogo.png"></a>
            </div>
            <!-- logo -->
            <div class="vd_panel-menu  hidden-sm hidden-xs" data-intro="<strong>Minimize Left Navigation</strong><br/>Toggle navigation size to medium or small size. You can set both button or one button only. See full option at documentation." data-step=1>
            		                	<span class="nav-medium-button menu" data-toggle="tooltip" data-placement="bottom" data-original-title="Medium Nav Toggle" data-action="nav-left-medium">
	                    <i class="fa fa-bars"></i>
                    </span>

                	<span class="nav-small-button menu" data-toggle="tooltip" data-placement="bottom" data-original-title="Small Nav Toggle" data-action="nav-left-small">
	                    <i class="fa fa-ellipsis-v"></i>
                    </span>

            </div>
            <div class="vd_panel-menu left-pos visible-sm visible-xs">

                        <span class="menu" data-action="toggle-navbar-left">
                            <i class="fa fa-ellipsis-v"></i>
                        </span>


            </div>
            <div class="vd_panel-menu visible-sm visible-xs">
                	<span class="menu visible-xs" data-action="submenu">
	                    <i class="fa fa-bars"></i>
                    </span>

                        <span class="menu visible-sm visible-xs" data-action="toggle-navbar-right">
                            <i class="fa fa-comments"></i>
                        </span>

            </div>
            <!-- vd_panel-menu -->
          </div>
          <!-- vd_panel-header -->

          </div>
          <div class="vd_container">
          	<div class="row">

                <div class="col-sm-7 col-xs-12 pull-right">
              		<div class="vd_mega-menu-wrapper">
                    	<div class="vd_mega-menu pull-right">
            				<ul class="mega-ul">


    <li id="top-menu-profile" class="profile mega-li">
        <a href="#" class="mega-link"  data-action="click-trigger">
            <span  class="mega-image">
                <img src="/static/img/avatar/avatar.jpg" alt="example image" />
            </span>
            <span class="mega-name">
                {{user}} <i class="fa fa-caret-down fa-fw"></i>
            </span>
        </a>
      <div class="vd_mega-menu-content  width-xs-2  left-xs left-sm" data-action="click-target">
        <div class="child-menu">
        	<div class="content-list content-menu">
                <ul class="list-wrapper pd-lr-10">

                    <li> <a href="/logout"> <div class="menu-icon"><i class=" fa fa-sign-out"></i></div>  <div class="menu-text">Sign Out</div> </a> </li>
                    </ul>
            </div>
        </div>
      </div>

    </li>


	</ul>
<!-- Head menu search form ends -->
                        </div>
                    </div>
                </div>

            </div>
          </div>
        </div>
        <!-- container -->
      </div>
      <!-- vd_primary-menu-wrapper -->

  </header>
  <!-- Header Ends -->
<div class="content">
  <div class="container">
    <div class="vd_navbar vd_nav-width vd_navbar-tabs-menu vd_navbar-left  ">
	<div class="navbar-tabs-menu clearfix">
    <!-- Ellipsis displays when menus are partially receded -->
			<span class="expand-menu" data-action="expand-navbar-tabs-menu">
            	<span class="menu-icon menu-icon-left">
            		<i class="fa fa-ellipsis-h"></i>
                    <span class="badge vd_bg-red">
                        20
                    </span>
                </span>
            	<span class="menu-icon menu-icon-right">
            		<i class="fa fa-ellipsis-h"></i>
                    <span class="badge vd_bg-red">
                        20
                    </span>
                </span>
            </span>
            <div class="menu-container">
            	<div class="vd_mega-menu-wrapper">
                	<div class="vd_mega-menu"  data-intro="<strong>Tabs Menu</strong><br/>Can be placed for dropdown menu, tabs, or user profile. Responsive for medium and small size navigation." data-step=3>
<ul class="mega-ul">
    <li id="home" class="one-icon mega-li">
      <a class="mega-link  vd_bg-blue" href="javascript:void(0);"  data-action="click-trigger">
            <span class="mega-icon">
                <i class="fa fa-cloud"></i>
            </span>
            <span class="badge vd_bg-red">
                10
            </span>
      </a>

    </li>
    <li id="tabs-menu-tasks" class="one-icon mega-li">
        <a class="mega-link  vd_bg-green" href="javascript:void(0);"   data-action="click-trigger">
            <span class="mega-icon">
                <i class="fa fa-tasks"></i>
            </span>
            <span class="badge vd_bg-red">
                8
            </span>
        </a>

    </li>
    <li id="test-2" class="one-icon mega-li">
        <a class="mega-link vd_bg-yellow " href="javascript:void(0);" data-action="click-trigger">
            <span class="mega-icon">
                <i class="fa fa-pencil"></i>
            </span>
        </a>


    </li>
    <li id="test" class="one-icon mega-li">
        <a class="mega-link vd_bg-red" href="javascript:void(0);" data-action="click-trigger">
            <span class="mega-icon">
                <i class="fa fa-plus"></i>
            </span>
        </a>
        <div class="vd_mega-menu-content  width-xs-2  center-xs-2" data-action="click-target" >
                <div class="child-menu">
                    <div class="content-list content-menu">
                        <ul class="list-wrapper pd-lr-10">
                            <li> <a href="#"> <span class="menu-icon"><i class=" fa fa-user"></i></span> <span class="menu-text">Write Article</span> </a> </li>
                            <li> <a href="#"> <span class="menu-icon"><i class=" fa fa-trophy"></i></span> <span class="menu-text">Write News</span> </a> </li>
                            <li> <a href="#"> <span class="menu-icon"><i class=" fa fa-flask"></i></span> <span class="menu-text">Add Product</span> </a>  </li>

                        </ul>
                    </div>
                </div>
           </div>   <!-- vd_mega-menu-content  -->
    </li>
</ul>   <!-- ./ mege-menu -->
                    </div>
                </div>
            </div>
    </div>


<!-- Start of Navbar -->



	<div class="navbar-menu clearfix">
        <div class="vd_panel-menu hidden-xs">
            <span data-original-title="Expand All" data-toggle="tooltip" data-placement="bottom" data-action="expand-all" class="menu" data-intro="<strong>Expand Button</strong><br/>To expand all menu on left navigation menu." data-step=4 >
                <i class="fa fa-sort-amount-asc"></i>
            </span>
        </div>
    	<h3 class="menu-title hide-nav-medium hide-nav-small invisible">UI Features</h3>
        <div class="vd_menu">
        	 <ul>
    <!-- <li data-placement="bottom" data-toggle="tooltip" data-original-title="User Details"> -->
    <li>
    	<a href="javascript:void(0);" data-action="click-trigger">
        	<!-- <span class="menu-icon"><i class="fa fa-dashboard"></i></span> -->
            <span class="menu-text">User Details</span>
            <span class="menu-badge"><span class="badge vd_bg-black-30"><i class="fa fa-angle-down"></i></span></span>
       	</a>
     	<div class="child-menu"  data-action="click-target">
            <ul>
                <li>
                    <a href="/user_details">
                        <span class="menu-text">User Details</span>
                    </a>
                </li>
                <li>
                    <a href="/user_details/family_details">
                        <span class="menu-text">Family Details</span>
                    </a>
                </li>
                <li>
                    <a href="/user_details/education">
                        <span class="menu-text">Education</span>
                    </a>
                </li>
                <li>
                    <a href="/user_details/previous_employment">
                        <span class="menu-text">Previous Employment</span>
                    </a>
                </li>
                <li>
                    <a href="/user_details/proof">
                        <span class="menu-text">Proof</span>
                    </a>
                </li>
                <li>
                    <a href="/user_details/confirm">
                        <span class="menu-text">Confirm</span>
                    </a>
                </li>
                
            </ul>
      	</div>
    </li>

    <li>
        <a href="/download_form">
            <!-- <span class="menu-icon"><i class="fa fa-envelope"></i></span> -->
            <span class="menu-text">Download Forms</span>
            <!-- <span class="menu-badge"><span class="badge vd_bg-red">78</span></span> -->
        </a>
    </li>
    {% if request.user|has_group:"HR" %}
    <li>
        <a href="/candidate_overview">
            <span class="menu-text">Candidate Overview</span>
        </a>
    </li>
    {%endif%}



</ul>
<!-- Head menu search form ends -->         </div>
    </div>
    <div class="navbar-spacing clearfix">
    </div>
    
</div>

    <!-- Middle Content Start -->

    <div class="vd_content-wrapper">
      <div class="vd_container">
        <div class="vd_content clearfix">

          <div class="vd_head-section clearfix">
            <div class="vd_panel-header">
              
              <div class="vd_panel-menu hidden-sm hidden-xs" data-intro="<strong>Expand Control</strong><br/>To expand content page horizontally, vertically, or Both. If you just need one button just simply remove the other button code." data-step=5  data-position="left">
    <div data-action="remove-navbar" data-original-title="Remove Navigation Bar Toggle" data-toggle="tooltip" data-placement="bottom" class="remove-navbar-button menu"> <i class="fa fa-arrows-h"></i> </div>
      <div data-action="remove-header" data-original-title="Remove Top Menu Toggle" data-toggle="tooltip" data-placement="bottom" class="remove-header-button menu"> <i class="fa fa-arrows-v"></i> </div>
      <div data-action="fullscreen" data-original-title="Remove Navigation Bar and Top Menu Toggle" data-toggle="tooltip" data-placement="bottom" class="fullscreen-button menu"> <i class="glyphicon glyphicon-fullscreen"></i> </div>

</div>

            </div>
          </div>


<!--           <div class="vd_title-section clearfix">
            <div class="vd_panel-header">
              
               </div>
          </div> -->

          {% block title_section %}{% endblock %}


                    <div class="vd_content-section clearfix">

                    {% block content %}{% endblock %}

                    </div>
                    <!-- .vd_content-section -->

                  </div>
                  <!-- .vd_content -->
                </div>
                <!-- .vd_container -->
              </div>
              <!-- .vd_content-wrapper -->

              <!-- Middle Content End -->

            </div>
            <!-- .container -->
          </div>
          <!-- .content -->

          <!-- Footer Start -->
            <footer class="footer-1"  id="footer">
              <div class="vd_bottom ">
                  <div class="container">
                      <div class="row">
                        <div class=" col-xs-12">
                          <div class="copyright">
                            	Copyright ©2016 ansrsource. All Rights Reserved
                          </div>
                        </div>
                      </div><!-- row -->
                  </div><!-- container -->
              </div>
            </footer>
          <!-- Footer END -->
          </div>

          <!-- .vd_body END  -->
          <!-- <a id="back-top" href="#" data-action="backtop" class="vd_back-top visible"> <i class="fa  fa-angle-up"> </i> </a> -->

          <!--
          <a class="back-top" href="#" id="back-top"> <i class="icon-chevron-up icon-white"> </i> </a> -->

          <!-- Javascript =============================================== -->
          <!-- Placed at the end of the document so the pages load faster -->
          <script type="text/javascript" src="/static/js/jquery.js"></script>
          <!--[if lt IE 9]>
            <script type="text/javascript" src="/static/js/excanvas.js"></script>
          <![endif]-->
          <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
          <script type="text/javascript" src='/static/plugins/jquery-ui/jquery-ui.custom.min.js'></script>
<!--      <script type="text/javascript" src="/static/plugins/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>

           <script type="text/javascript" src="/static/js/caroufredsel.js"></script>
          <script type="text/javascript" src="/static/js/plugins.js"></script> -->

          <script type="text/javascript" src="/static/plugins/breakpoints/breakpoints.js"></script>
          <script type="text/javascript" src="/static/plugins/tagsInput/jquery.tagsinput.min.js"></script>
          <script type="text/javascript" src="/static/plugins/bootstrap-switch/bootstrap-switch.min.js"></script>
          <script type="text/javascript" src="/static/plugins/prettyPhoto-plugin/js/jquery.prettyPhoto.js"></script>
          <script type="text/javascript" src="/static/plugins/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
<!--      <script type="text/javascript" src="/static/plugins/dataTables/jquery.dataTables.min.js"></script>

          <script type="text/javascript" src="/static/plugins/blockUI/jquery.blockUI.js"></script>
          <script type="text/javascript" src="/static/plugins/pnotify/js/jquery.pnotify.min.js"></script> -->

          <!-- Validation -->

          <script type="text/javascript" src="/static/js/validator.min.js"></script>

          <script type="text/javascript" src="/static/js/theme.js"></script>
          <script type="text/javascript" src="/static/custom/custom.js"></script>

          <!-- Specific Page Scripts Put Here -->

          <script type="text/javascript" src='/static/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js'></script>

          <script type="text/javascript">


          	$('#wizard-2').bootstrapWizard({
          		'tabClass': 'nav nav-pills nav-justified',
          		'nextSelector': '.wizard .next',
          		'previousSelector': '.wizard .prev',
          		'onTabShow' :  function(tab, navigation, index){
          			$('#wizard-2 .finish').hide();
          			$('#wizard-2 .next').show();
          			if ($('#wizard-2 .nav li:last-child').hasClass('active')){
          				$('#wizard-2 .next').hide();
          				$('#wizard-2 .finish').show();
          			}
          			var $total = navigation.find('li').length;
          			var $current = index+1;
          			var $percent = ($current/$total) * 100;
          			$('#wizard-2').find('.progress-bar').css({width:$percent+'%'});
          		},
          		'onTabClick': function(tab, navigation, index) {
          			return false;
          		},
          		'onNext': function(){
              scrollTo('#wizard-2',-100);
          		},
          		'onPrevious': function(){
          			scrollTo('#wizard-2',-100);
          		}
          	});
            /* Date Picker */


          // $( "#datepicker-icon" ).datepicker({ dateFormat: 'dd M yy'});
          //     $( '[data-datepicker]' ).click(function(e){
          //         var data=$(this).data('datepicker');
          //         $(data).focus();
          //     });


    

          </script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/css/bootstrap-datepicker.css" />
    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/js/bootstrap-datepicker.min.js"></script> -->
     <!-- <link href="/static/bootstrap3_datetime/css/bootstrap-datetimepicker.min.css" type="text/css" media="all" rel="stylesheet" /> -->
<script type="text/javascript" src="/static/bootstrap3_datetime/js/moment.min.js"></script>
<script type="text/javascript" src="/static/bootstrap3_datetime/js/bootstrap-datetimepicker.min.js"></script>   

        </body>
        </html>
