{% extends 'master.html' %}
{% block pageTitle %}Previous Employment Details{% endblock %}
{% block pageSubTitle %}Start entering your work details here{% endblock %}
{%block content %}


  <div class="row">
    <div class="col-md-12">
      <div class="panel widget">
        <div class="panel-heading vd_bg-grey">
          <h3 class="panel-title"> <span class="menu-icon"> <i class="fa fa-magic"></i> </span> Wizard Basic </h3>
        </div>
        <div class="panel-body">

            <div id="wizard-2" class="form-wizard">
              <ul>
                <li><a href="/myansrsource/user_details">
                  <div class="menu-icon"> 1 </div>
                  User Profile </a></li>
                <li><a href="/myansrsource/user_details/education">
                  <div class="menu-icon"> 2 </div>
                  Education </a></li>
                <li class="active"><a href="#tab3" data-toggle="tab">
                  <div class="menu-icon"> 3 </div>
                  Previous Employment </a></li>
                <li><a href="/myansrsource/user_details/proof">
                  <div class="menu-icon"> 4 </div>
                  Proof </a></li>
                <li><a href="/myansrsource/user_details/confirm">
                  <div class="menu-icon"> 5 </div>
                  Confirm </a></li>
              </ul>
<hr>

<!--               <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-info" > </div>
              </div> -->




              <div class="tab-pane" id="tab3">

                <form id="previous_employment_form" method="post" class="form-horizontal" enctype="multipart/form-data" data-toggle="validator">

                {% csrf_token %}
                <div class="form-group">
                  <label class="col-sm-5 control-label">Company Name</label>
                  <div id = "id_company_name" class="col-sm-7 controls">
                    {{form.company_name}}
                    <div class="help-block with-errors"></div>

                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-5 control-label">Company Address</label>
                  <div class="col-sm-7 controls">
                    {{form.company_address}}
                    <div class="help-block with-errors"></div>

                  </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-5 control-label">Job Type</label>
                      <div class="col-sm-7 controls">
                        {{form.job_type}}
                    <div class="help-block with-errors"></div>

                      </div>
                        </div>

                <div class="form-group">
                  <label class="col-sm-5 control-label">Employed From</label>
                  <div class="col-sm-7 controls">
                    {{form.employed_from}}
                    <div class="help-block with-errors"></div>

                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-5 control-label">Employed To</label>
                  <div class="col-sm-7 controls">
                    {{form.employed_upto}}
                    <div class="help-block with-errors"></div>

                  </div>
                </div>




                <div class="form-group">
                  <label class="col-sm-5 control-label">Last CTC</label>
                  <div class="col-sm-7 controls">
                    {{form.last_ctc}}
                    <div class="help-block with-errors"></div>

                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-5 control-label">Reason For Exit</label>
                  <div class="col-sm-7 controls">
                    {{form.reason_for_exit}}
                    <div class="help-block with-errors"></div>

                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-5 control-label">Attachments for pay slips<br/></label>

                  <div class="col-sm-7 controls">

                    {{form.ps_attachment}}
                    <div class="help-block with-errors"></div>

                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-5 control-label">Attachments for Relieving Letter</label>
                  <div class="col-sm-7 controls">
                      {{form.rl_attachment}}
                    <div class="help-block with-errors"></div>
                  </div>
                </div>

                <div class="form-group">

                    <h3 class="col-sm-12 text-right"><input type="submit" id="submit" class="btn vd_bg-green vd_white width-10" value="Save"/></h3>
                </div>

                <!-- <div class="form-group">
                    <h3 class="text-center"><input type="submit" id="submit1" onclick="myFunction()" class="btn btn-danger" onclick="form.action='/myansrsource/user_details/previous_employment';" value="Save-addmore"/></h3>
                </div> -->
           </form>
                 <input type="button" id="vivek1" class="btn vd_bg-green vd_white width-10" value="vivek1"/>
                 <input type="button" id="vivek2" class="btn vd_bg-green vd_white width-10" value="vivek2"/>
         </div><!-- ./tab-content -->

        

                                </div><!-- ./wizard1 ~~~ -->

                           </div>
                           <!-- Panel Body -->
                         </div>
                         <!-- Panel Widget -->
                       </div>
                       <!-- col-md-12 -->
                     </div>
                     <!-- row -->

                     <script type="text/javascript">            
                      $("#vivek1").click(function(){
                        // e.preventDefault();
                        // debugger;

                        var user = "{{employee}}";
                        var list1 = "{{employment_list.0}}";
                        // console.log(list1);
                        var company_name = "{{employment_list.0.company_name}}";
                        // var specialization = "{{education_list.0.spec}}";
                        
                          $.ajax({
                            type: "GET",
                            url : '/myansrsource/user_details/previous_employment',
                            data : {'company_name':company_name},
                            success : function(data){
                             $("#previous_employment_form").html(data);
                             // return data;
                            }
                            // error: function(xhr, status, error) {
                            //   alert(xhr.responseText);
                            // }
                          });
                        
                    });
                        </script>

              <script type="text/javascript">            
                    $("#vivek2").click(function(){
                      // e.preventDefault();
                      // debugger;
                      var user = "{{employee}}";
                      var list2 = "{{employment_list.1}}";
                      // console.log(list2);
                      var company_name = "{{employment_list.1.company_name}}";
                      // var specialization = "{{education_list.1.spec}}";

                        $.ajax({
                          type: "GET",
                          url : '/myansrsource/user_details/previous_employment',
                          data : {'company_name':company_name},
                          success : function(data){
                           $("#previous_employment_form").html(data);
                           // console.log(data);
                           // return data;
                          }
                          // error: function(xhr, status, error) {
                          //   alert(xhr.responseText);
                          // }
                        });
                      
                  });
                  </script>

                     <script type="text/javascript">
                     $("#previous_employment_form").submit(function (e) {
                           e.preventDefault();
                           var data = new FormData($('form').get(0));
                           swal({   title: "Do you want to add again?",
                            text: "If you want to add another eduaction detail press yes else click no!",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "Save and fill again!",
                            cancelButtonText: "Save and continue to next tab",
                            closeOnConfirm: true,
                            closeOnCancel: true
                            },
                             function(isConfirm) {
                               if (isConfirm) {
                                 $.ajax( {
                                   type: "POST",
                                   url: '/myansrsource/user_details/previous_employment',
                                   data: data,
                                   cache: false,
                                   processData: false,
                                   contentType: false,
                                   success: function( response ) {
                                      window.location='/myansrsource/user_details/previous_employment'
                                   }

                                 });
                               }else{
                                   $.ajax( {
                                     type: "POST",
                                     url: '/myansrsource/user_details/previous_employment',
                                     data: $("#previous_employment_form").serialize(),
                                     success: function( response ) {
                                        window.location='/myansrsource/user_details/proof'
                                 }
                               });}});
                             });

                     </script>
         <!-- End here -->

{% endblock %}
