<!DOCTYPE html>
<html>
<head>
	<title>Printable</title>

	<link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<style type="text/css">
		
	div.print-div span{
		display: inline-block;
		width: 100px;
	}
	div.print-div span:after{
		content: ":";
		float: right;
		margin-right: 5px
	}

	</style>
</head>
<body>

<h3 class="text-center">The Printed Form</h3>
<div class="container">
<div class="print-div"><span>First Name</span> {{request.user.first_name}} </div>
<div class="print-div"><span>Last Name</span> {{request.user.last_name}} </div>


<button class="btn btn-primary" onclick="window.print()">Print this</button>
</div>
</body>
</html>