<!DOCTYPE html>
<html>
<head>
    <title>Profile Page</title>


<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>


<div class="row profile-page">
    <div class="col-sm-12">
        <div class="panel">
            <div class="panel-heading vd_bg-grey">
                <h3 class="panel-title"> <span class="menu-icon"> <i class="fa fa-magic"></i> </span>Profile</h3>
            </div>
            <div class="panel-body">

                <div class="row">

                        <div class="col-sm-6">
                            <div class="form-group">

                                <label class="col-sm-4 control-label">Employee<span class="mandatory-field"> *</span></label>
                                <div class="col-sm-7 controls">
                                    <input class="input-sm form-control width-70" data-error="Please enter candidate name" maxlength="50" name="candidate_name" required="" type="text">
                                    <span class="help-inline">Enter his/her name</span>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="form-group">

                                <label class="col-sm-4 control-label">First Name<span class="mandatory-field"> *</span></label>
                                <div class="col-sm-7 controls">
                                    <input class="input-sm form-control width-70" data-error="Please enter candidate name" maxlength="50" name="candidate_name" required="" type="text">
                                    <span class="help-inline">Enter his/her name</span>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="form-group">

                                <label class="col-sm-4 control-label">Last Name Name<span class="mandatory-field"> *</span></label>
                                <div class="col-sm-7 controls">
                                    <input class="input-sm form-control width-70" data-error="Please enter candidate name" maxlength="50" name="candidate_name" required="" type="text">
                                    <span class="help-inline">Enter his/her name</span>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="form-group">

                                <label class="col-sm-4 control-label">Middle Name Name<span class="mandatory-field"> *</span></label>
                                <div class="col-sm-7 controls">
                                    <input class="input-sm form-control width-70" data-error="Please enter candidate name" maxlength="50" name="candidate_name" required="" type="text">
                                    <span class="help-inline">Enter his/her name</span>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="form-group">

                                <label class="col-sm-4 control-label">Marital Status<span class="mandatory-field"> *</span></label>
                                <div class="col-sm-7 controls">
                                    <select class="input-sm form-control width-70" >
                                        <option>Single</option>
                                        <option>Married</option>
                                        <option>Divorced</option>
                                        <option>Verge Of Divorce</option>
                                    </select>
                                    <span class="help-inline">Enter his/her name</span>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="form-group">

                                <label class="col-sm-4 control-label">Wedding Date<span class="mandatory-field"> *</span></label>
                                <div class="col-sm-7 controls">
                                    <input class="input-sm form-control width-70" data-error="Please enter candidate name" maxlength="50" name="candidate_name" required="" type="text">
                                    <span class="help-inline">Enter his/her name</span>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>






                        </div><!-- ./end of col-sm -->

                        <div class="col-sm-6">
                            <div class="form-group">

                                <label class="col-sm-4 control-label">Blood Group<span class="mandatory-field"> *</span></label>
                                <div class="col-sm-7 controls">
                                    <select class="input-sm form-control width-70" >
                                        <option>A+ve</option>
                                        <option>B+ve</option>
                                        <option>Don't know</option>
                                    </select>
                                    <span class="help-inline">Enter his/her name</span>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>


                            <div class="form-group">

                                <label class="col-sm-4 control-label">Land phone<span class="mandatory-field"> *</span></label>
                                <div class="col-sm-7 controls">
                                    <input class="input-sm form-control width-70" data-error="Please enter candidate name" id="id_candidate_name" maxlength="50" name="candidate_name" required="" type="text">
                                    <span class="help-inline">Enter his/her name</span>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="form-group">

                                <label class="col-sm-4 control-label">Emergency Phone<span class="mandatory-field"> *</span></label>
                                <div class="col-sm-7 controls">
                                    <input class="input-sm form-control width-70" data-error="Please enter candidate name" id="id_candidate_name" maxlength="50" name="candidate_name" required="" type="text">
                                    <span class="help-inline">Enter his/her name</span>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="form-group">

                                <label class="col-sm-4 control-label">Mobile Number<span class="mandatory-field"> *</span></label>
                                <div class="col-sm-7 controls">
                                    <input class="input-sm form-control width-70" data-error="Please enter candidate name" id="id_candidate_name" maxlength="50" name="candidate_name" required="" type="text">
                                    <span class="help-inline">Enter his/her name</span>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="form-group">

                                <label class="col-sm-4 control-label">Personal E-mail<span class="mandatory-field"> *</span></label>
                                <div class="col-sm-7 controls">
                                    <input class="input-sm form-control width-70" data-error="Please enter candidate name" id="id_candidate_name" maxlength="50" name="candidate_name" required="" type="text">
                                    <span class="help-inline">Enter his/her name</span>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="form-group">

                                <label class="col-sm-4 control-label">Candidate Photo<span class="mandatory-field"> *</span></label>
                                <div class="col-sm-7 controls">
                                <img src="http://placehold.it/100x100">
                                </div>
                            </div>



                        </div><!-- ./end of col-sm -->

                </div>



<hr>



                                                                                                                    <!-- Start of the tabs -->

                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab1" data-toggle="tab">Education Details</a></li>
                    <li class=""><a href="#tab2" data-toggle="tab">Previous Employment</a></li>
<!--                     <li class=""><a href="#tab3" data-toggle="tab">Financial & ID</a></li>
                    <li class=""><a href="#tab4" data-toggle="tab">Key Dates</a></li>
                    <li class=""><a href="#tab5" data-toggle="tab">Adresses</a></li>
                    <li class=""><a href="#tab6" data-toggle="tab">Qualification</a></li>
                    <li class=""><a href="#tab7" data-toggle="tab">Family Members</a></li>
                    <li class=""><a href="#tab8" data-toggle="tab">Previous Employment</a></li> -->
                </ul><!-- ./tab -->



                <div class="tab-content mgbt-xs-20">
                    <div class="tab-pane clearfix active" id="tab1">


                        <div class="row">
                            <div class="col-sm-6">


                                <div class="form-group">

                                    <label class="col-sm-4 control-label">Qualification<span class="mandatory-field"> *</span></label>
                                    <div class="col-sm-7 controls">
                                        <input class="input-sm form-control width-70" data-error="Please enter candidate name" maxlength="50" name="candidate_name" required="" type="text">
                                        <span class="help-inline">Enter his/her name</span>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="form-group">

                                    <label class="col-sm-4 control-label">Specialization<span class="mandatory-field"> *</span></label>
                                    <div class="col-sm-7 controls">
                                        <input class="input-sm form-control width-70" data-error="Please enter candidate name" maxlength="50" name="candidate_name" required="" type="text">
                                        <span class="help-inline">Enter his/her name</span>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="col-sm-4 control-label">From Date</label>
                                    <div class="col-sm-7 controls">
                                      <div class="input-group width-70">
                                        <input type="text" placeholder="Date" id="datepicker-icon" class="input-sm form-control" >
                                        <span class="input-group-addon" id="datepicker-icon-trigger" data-datepicker="#datepicker-icon"><i class="fa fa-calendar"></i></span> </div>
                                        <span class="help-inline">Enter From Date</span>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">To Date</label>
                                    <div class="col-sm-7 controls">
                                      <div class="input-group width-70">
                                        <input type="text" placeholder="Date" id="datepicker-icon" class="input-sm form-control" >
                                        <span class="input-group-addon" id="datepicker-icon-trigger" data-datepicker="#datepicker-icon"><i class="fa fa-calendar"></i></span> </div>
                                        <span class="help-inline">Enter To Date</span>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Institution<span class="mandatory-field"> *</span></label>
                                    <div class="col-sm-7 controls">
                                        <input class="input-sm form-control width-70" data-error="Please enter candidate name" maxlength="50" name="candidate_name" required="" type="text">
                                        <span class="help-inline">Enter his/her name</span>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Overall Marks<span class="mandatory-field"> *</span></label>
                                    <div class="col-sm-7 controls">
                                        <input class="input-sm form-control width-70" data-error="Please enter candidate name" maxlength="50" name="candidate_name" required="" type="text">
                                        <span class="help-inline">Enter his/her name</span>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>                     




                            </div><!-- ./first col-sm -->
                        </div><!-- ./row -->

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                        <input class="btn btn-success pull-right" value="Save"  type="Submit">
                                </div>         
                            </div>                    
                        </div>


                    </div><!-- ./tab 1 -->













                    <div class="tab-pane clearfix" id="tab2">

                        <div class="row">
                            <div class="col-sm-6">


                                <div class="form-group">

                                    <label class="col-sm-4 control-label">Company Name<span class="mandatory-field"> *</span></label>
                                    <div class="col-sm-7 controls">
                                        <input class="input-sm form-control width-70" data-error="Please enter candidate name" maxlength="50" name="candidate_name" required="" type="text">
                                        <span class="help-inline">Enter his/her name</span>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Employed From</label>
                                    <div class="col-sm-7 controls">
                                      <div class="input-group width-70">
                                        <input type="text" placeholder="Date" id="datepicker-icon" class="input-sm form-control" >
                                        <span class="input-group-addon" id="datepicker-icon-trigger" data-datepicker="#datepicker-icon"><i class="fa fa-calendar"></i></span> </div>
                                        <span class="help-inline">Enter From Date</span>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Employed To</label>
                                    <div class="col-sm-7 controls">
                                      <div class="input-group width-70">
                                        <input type="text" placeholder="Date" id="datepicker-icon" class="input-sm form-control" >
                                        <span class="input-group-addon" id="datepicker-icon-trigger" data-datepicker="#datepicker-icon"><i class="fa fa-calendar"></i></span> </div>
                                        <span class="help-inline">Enter To Date</span>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Last CTC<span class="mandatory-field"> *</span></label>
                                    <div class="col-sm-7 controls">
                                        <input class="input-sm form-control width-70" data-error="Please enter candidate name" maxlength="50" name="candidate_name" required="" type="text">
                                        <span class="help-inline">Enter his/her name</span>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Reason For Exit<span class="mandatory-field"> *</span></label>
                                    <div class="col-sm-7 controls">
                                        <input class="input-sm form-control width-70" data-error="Please enter candidate name" maxlength="50" name="candidate_name" required="" type="text">
                                        <span class="help-inline">Enter his/her name</span>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>                     




                            </div><!-- ./first col-sm -->
                        </div><!-- ./row -->

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                        <input class="btn btn-success pull-right" value="Save"  type="Submit">
                                </div>         
                            </div>                    
                        </div>                        
                    </div><!-- ./tab 2 -->








                </div><!-- ./ .tab-content -->



            </div><!-- ./panel-body -->
        </div><!-- ./panel -->
    </div><!-- ./col-sm -->
</div><!-- ./row -->

<!-- <script type="text/javascript" src="http://vendroid.venmond.com/plugins/bootstrap-timepicker/bootstrap-timepicker.min.js"></script>
<script type="text/javascript" src="http://vendroid.venmond.com/plugins/daterangepicker/moment.min.js"></script>
<script type="text/javascript" src="http://vendroid.venmond.com/plugins/daterangepicker/daterangepicker.js"></script> -->


<script type="text/javascript">

$(document).ready(function(){



    $( "#datepicker-normal" ).datepicker({ dateFormat: 'dd M yy'});
    $( "#datepicker-multiple" ).datepicker({
        numberOfMonths: 3,
        showButtonPanel: true,
        dateFormat: 'dd M yy'
    });
    $( "#datepicker-from" ).datepicker({
        defaultDate: "+1w",
        dateFormat: 'dd M yy',
        changeMonth: true,
        numberOfMonths: 3,
        onClose: function( selectedDate ) {
        $( "#to" ).datepicker( "option", "minDate", selectedDate );
        }
    });
    $( "#datepicker-to" ).datepicker({
        defaultDate: "+1w",
        dateFormat: 'dd M yy',
        changeMonth: true,
        numberOfMonths: 3,
        onClose: function( selectedDate ) {
        $( "#from" ).datepicker( "option", "maxDate", selectedDate );
        }
    });
    $( "#datepicker-icon" ).datepicker({ dateFormat: 'dd M yy'});
    $( '[data-datepicker]' ).click(function(e){
        var data=$(this).data('datepicker');
        $(data).focus();
    });
    $( "#datepicker-restrict" ).datepicker({ minDate: -20, maxDate: "+1M +10D" });
    $( "#datepicker-widget" ).datepicker();


    $('#datepicker-daterangepicker').daterangepicker(
        {
          ranges: {
             'Today': [moment(), moment()],
             'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
             'Last 7 Days': [moment().subtract('days', 6), moment()],
             'Last 30 Days': [moment().subtract('days', 29), moment()],
             'This Month': [moment().startOf('month'), moment().endOf('month')],
             'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
          },
          startDate: moment().subtract('days', 29),
          endDate: moment()
        },
        function(start, end) {
            $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        }
    );

    $('#datepicker-datetime').daterangepicker({ timePicker: true, timePickerIncrement: 30, format: 'MM/DD/YYYY h:mm A' });





})// end of doc.readu

</script>

<!-- <link rel="stylesheet" type="text/css" href="http://vendroid.venmond.com/plugins/daterangepicker/daterangepicker-bs3.css"> -->


<style type="text/css">


/* Profile Page */

.profile-page .tab-pane{padding-top: 25px;}


</style>

</body>
</html>
