{% extends 'master.html' %}
{% block pageTitle %}Proof Details{% endblock %}
{% block pageSubTitle %}Enter your valid proof details{% endblock %}
{%block content %}


  <div class="row">
    <div class="col-md-12">
      <div class="panel widget">
        <div class="panel-heading vd_bg-grey">
          <h3 class="panel-title"> <span class="menu-icon"> <i class="fa fa-magic"></i> </span> Wizard Basic </h3>
        </div>
        <div class="panel-body">

            <div id="wizard-2" class="form-wizard">
              <ul>
                <li><a href="#tab1" data-toggle="tab">
                  <div class="menu-icon"> 1 </div>
                  User Profile </a></li>
                <li><a href="#tab2" data-toggle="tab">
                  <div class="menu-icon"> 2 </div>
                  Education </a></li>
                <li><a href="#tab3" data-toggle="tab">
                  <div class="menu-icon"> 3 </div>
                  Previous Employment </a></li>
                <li class="active"><a href="#tab4" data-toggle="tab">
                  <div class="menu-icon"> 4 </div>
                  Proof </a></li>
                <li><a href="#tab5" data-toggle="tab">
                  <div class="menu-icon"> 5 </div>
                  Confirm </a></li>
              </ul>


              <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-info" > </div>
              </div>



              <div class="tab-pane" id="tab4">
                <form id="proof_form" method="post" class="form-horizontal" enctype="multipart/form-data">

                {% csrf_token %}
                <div class="form-group">
                  <label class="col-sm-2 control-label">PAN Card Number</label>
                  <div class="col-sm-7 controls">
                    {{proof_form.pan}}
                    {{proof_form.pan_attachment}}
                  </div>

                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Aadhar Card Number</label>
                  <div class="col-sm-7 controls">
                    {{proof_form.aadhar_card}}
                    {{proof_form.aadhar_attachment}}
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Driving License Number</label>
                  <div class="col-sm-7 controls">
                  {{proof_form.dl}}
                  {{proof_form.dl_attachment}}
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Passport Number</label>
                  <div class="col-sm-7 controls">
                    {{proof_form.passport}}
                    {{proof_form.passport_attachment}}
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Voter's ID Number</label>
                  <div class="col-sm-7 controls">
                    {{proof_form.voter_id}}
                    {{proof_form.voter_attachment}}
                  </div>
                </div>

                <div class="form-group">
                    <h3 class="col-sm-12 text-right"><input type="submit" id="submit" class="btn btn-danger" value="Save"/></h3>
                </div>
              </form>

            </div><!-- ./tab-content -->



          </div><!-- ./wizard1 ~~~ -->

     </div>
     <!-- Panel Body -->
   </div>
   <!-- Panel Widget -->
 </div>
 <!-- col-md-12 -->
</div>
<!-- row -->



<!-- End here -->
{% endblock %}
