{% extends 'master.html' %}
{% block pageTitle %}Proof Details{% endblock %}
{% block pageSubTitle %}Enter your valid proof details{% endblock %}
{%block content %}


  <div class="row">
    <div class="col-md-12">
      <div class="panel widget">
        <div class="panel-heading vd_bg-grey">
          <h3 class="panel-title"> <span class="menu-icon"> <i class="fa fa-magic"></i> </span>{{user.first_name}} {{user.last_name}}  </h3>
        </div>
        <div class="panel-body">

            <div id="wizard-2" class="form-wizard">
              <ul>
                <li><a href="/user_details">
                  <div class="menu-icon"> 1 </div>
                  User Profile </a></li>
                <li><a href="/user_details/education">
                  <div class="menu-icon"> 2 </div>
                  Education </a></li>
                <li><a href="/user_details/previous_employment">
                  <div class="menu-icon"> 3 </div>
                  Previous Employment </a></li>
                <li class="active"><a href="#tab4" data-toggle="tab">
                  <div class="menu-icon"> 4 </div>
                  Proof </a></li>
                <li><a href="/user_details/confirm">
                  <div class="menu-icon"> 5 </div>
                  Confirm </a></li>
              </ul>
<hr>

<!--               <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-info" > </div>
              </div> -->



              <div class="tab-pane" id="tab4">

                <form id="proof_form" method="post" class="form-horizontal" enctype="multipart/form-data" data-toggle="validator">
                <!-- * Any of the 2 proofs with attachments is mandatory -->
                {% csrf_token %}
                
                  <div class = "container">
                    {% if messages %}
                    <div class = 'row'>
                    <div class = 'col-xs-12'>
                    {% for message in messages %}
                    <h3{% if message.tags %} class ="{{ message.tags }}"{% endif %}>*{{message}}</h3>
                    {% endfor %}
                </div>
                </div>
                {% endif %}
                <div class="form-group">
                  <label class="col-sm-2 control-label">PAN Card Number</label>
                  <div class="col-sm-7 controls">
                    {{form.pan}}
                    {{form.pan_attachment}}
                    <div class="help-block with-errors"></div>
                  </div>

                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Aadhar Card Number</label>
                  <div class="col-sm-7 controls">
                    {{form.aadhar_card}}
                    {{form.aadhar_attachment}}
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Driving License Number</label>
                  <div class="col-sm-7 controls">
                  {{form.dl}}
                  {{form.dl_attachment}}
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Passport Number</label>
                  <div class="col-sm-7 controls">
                    {{form.passport}}

                    {{form.passport_attachment}}
                    <div class="help-block with-errors"></div>

                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Voter's ID Number</label>
                  <div class="col-sm-7 controls">
                    {{form.voter_id}}
                    {{form.voter_attachment}}
                    <div class="help-block with-errors"></div>
                  </div>
                </div>

                <div class="form-group">

                      <h3 class="col-sm-12 text-right"><input type="submit" id="submit" class="btn vd_bg-green vd_white" value="Save"/></h3>

                </div>
              
              </form>

            </div><!-- ./tab-content -->



          </div><!-- ./wizard1 ~~~ -->

     </div>
     <!-- Panel Body -->
   </div>
   <!-- Panel Widget -->
 </div>
 <!-- col-md-12 -->
</div>
<!-- row -->
<script type="text/javascript">

/* 2 form validation */


var validateTwo = function(){

  var uploadedCount = 0;

  $('#tab4 .form-group').each(function(){

    if($('input[type="text"]').val() !== ''){
        uploadedCount++;
        console.log(uploadedCount);
        debugger;
        }
  })  

}




$("#proof_form").submit(function (e) {
e.preventDefault();
validateTwo();
var data = new FormData($('form').get(0));
swal({   title: "Checking proof details!!",
  text: "",
  type: "warning",
  showCancelButton: true,
  confirmButtonColor: "#DD6B55",
  confirmButtonText: "OK!",
  cancelButtonText: "Cancel",
  closeOnConfirm: true,
  closeOnCancel: true
  },
  function(isConfirm) {
    if (isConfirm) {
      $.ajax( {
        type: "POST",
        url: '/user_details/proof',
        data: data,
        cache: false,
        processData: false,
        contentType: false,
        success: function( response ) {
            
           window.location='/user_details/proof'
        }
      });
    }});
  });


$(document).ready(function(){
  
})

</script>
<!-- End here -->
{% endblock %}
