{% extends 'master.html' %}
{% block pageTitle %}Registration{% endblock %}
{% block pageSubTitle %}Register yourself and start filling the forms{% endblock %}
{% block content %}


            <div class="row">
              <div class="col-md-12">


				<h1>Register</h1>


				<form id="register" action ="/myansrsource/register" method="post" class="form-horizontal">
				  {% csrf_token %}

				  {{form.as_p}}

				<h3 class="text-center"><input type="submit" id="submit" class="btn btn-danger" value="Register"/></h3>

				</form>



					</div>
				</div>


{% endblock %}
