{% extends 'master.html' %}
{% load bootstrap3 %}
{% load static from staticfiles %}
{% block pageTitle %}User Details{% endblock %}
{% block pageSubTitle %}Start entering your details here{% endblock %}
{% block content %}
<!-- Start Here -->


            <div class="row">
              <div class="col-md-12">
                <div class="panel widget">
                  <div class="panel-heading vd_bg-grey">
                    <h3 class="panel-title"> <span class="menu-icon"> <i class="fa fa-magic"></i> </span> {{user.first_name}} {{user.last_name}} </h3>
                  </div>
                  <div class="panel-body">

                      <div id="wizard-2" class="form-wizard">
                        <ul>
                          <li><a href="#tab1" data-toggle="tab">
                            <div class="menu-icon"> 1 </div>
                            User Profile </a></li>
                          <li><a href="/user_details/education">
                            <div class="menu-icon"> 2 </div>
                            Education </a></li>
                          <li><a href="/user_details/previous_employment">
                            <div class="menu-icon"> 3 </div>
                            Previous Employment </a></li>
                          <li><a href="/user_details/proof">
                            <div class="menu-icon"> 4 </div>
                            Proof </a></li>
                          <li><a href="/user_details/confirm">
                            <div class="menu-icon"> 5 </div>
                            Confirm </a></li>
                        </ul>
<hr>

<!--                         <div class="progress progress-striped active">
                          <div class="progress-bar progress-bar-info" > </div>
                        </div> -->



                        <div class="tab-content no-bd">

                          <div class="tab-pane" id="tab1">

                        <!-- <div id="ajax_loader_user_details_form" class="ajax_bck"><div class="ajax_load_image"></div></div> -->


<!-- ~~~~sanjay~~~~ -->

                    {% if messages %}

                    {% for message in messages %}

                  <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"><i class="icon-cross"></i></button>
                    <span class="vd_alert-icon"><i class="fa fa-exclamation-circle vd_red"></i></span><strong>{{message}}</strong></div>

                    {% endfor %}

                {% endif %}



                      
                        <form id="user_details_form" method="post" class="form-horizontal" enctype="multipart/form-data" data-toggle="validator">

                        {% csrf_token %}

                        <!-- <div class="form-group">
                          <label class="col-sm-2 control-label">UserName</label>
                          <div class="col-sm-7 controls">
                            {{form.employee}}

                          </div>
                        </div> -->

                            <div class="form-group">
                              <label class="col-sm-2 control-label">First Name<span class="mandatory-field"> *</span></label>
                              <div class="col-sm-7 controls">
                                {{form.first_name}}
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Middle Name</label>
                                <div class="col-sm-7 controls">
                                  {{form.middle_name}}
                                <div class="help-block with-errors"></div>
                                </div>
                              </div>
                          <div class="form-group">
                              <label class="col-sm-2 control-label">Last Name<span class="mandatory-field"> *</span></label>
                              <div class="col-sm-7 controls">
                                {{form.last_name}}
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>

                            

                            <div class="form-group">
                              <label class="col-sm-2 control-label">Gender<span class="mandatory-field"> *</span></label>
                              <div class="col-sm-2 controls">
                                {{form.gender}}
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>

                            <div class="form-group">
                              <label class="col-sm-2 control-label">Nationality<span class="mandatory-field"> *</span></label>
                              <div class="col-sm-7 controls">
                                {{form.nationality}}
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>

                            <div class="form-group">
                              <label class="col-sm-2 control-label">Marital Status<span class="mandatory-field"> *</span></label>
                              <div class="col-sm-7 controls">
                                {{form.marital_status}}
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>

                            <div class="form-group wedding_date_form_group">
                              <label class="col-sm-2 control-label">Wedding Date</label>
                              <div class="col-sm-7 controls">
                                {{form.wedding_date}}
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>


                            <div class="form-group">
                              <label class="col-sm-2 control-label">Date of Birth<span class="mandatory-field"> *</span></label>
                              <div class="col-sm-7 controls">
                                {{form.date_of_birth}}
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>

                            <div class="form-group">
                              <label class="col-sm-2 control-label">Blood Group<span class="mandatory-field"> *</span></label>
                              <div class="col-sm-2 controls">
                                {{form.blood_group}}
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>

                            <div class="form-group">
                              <label class="col-sm-2 control-label">Land Phone</label>
                              <div class="col-sm-7 controls">
                                {{form.land_phone}}
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>

                            <div class="form-group">
                              <label class="col-sm-2 control-label">Emergency Phone (primary)<span class="mandatory-field"> *</span></label>
                              <div class="col-sm-7 controls">
                                {{form.emergency_phone1}}
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>


                            <div class="form-group">
                              <label class="col-sm-2 control-label">Emergency Phone (secondary)<span class="mandatory-field"> *</span></label>
                                  <div class="col-sm-7 controls">
                                    {{form.emergency_phone2}}
                                <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                            <div class="form-group">
                              <label class="col-sm-2 control-label">Mobile Phone<span class="mandatory-field"> *</span></label>
                              <div class="col-sm-7 controls">
                                {{form.mobile_phone}}
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>

                            <div class="form-group">
                              <label class="col-sm-2 control-label">Personal Email<span class="mandatory-field"> *</span></label>
                              <div class="col-sm-7 controls">
                                {{form.personal_email}}
                                <div class="help-block with-errors"></div>                                
                              </div>
                            </div>

                            <div class="form-group">
                              <label class="col-sm-2 control-label">Address Type<span class="mandatory-field"> *</span></label>
                              <div class="col-sm-7 controls">
                                {{form.address_type}}
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>


                            <div class="form-group">
                              <label class="col-sm-2 control-label">Street<span class="mandatory-field"> *</span></label>
                                  <div class="col-sm-7 controls">
                                    {{form.address1}}
                                <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                            <div class="form-group">
                              <label class="col-sm-2 control-label">Lane</label>
                              <div class="col-sm-7 controls">
                                {{form.address2}}
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>

                            <div class="form-group">
                              <label class="col-sm-2 control-label">City<span class="mandatory-field"> *</span></label>
                              <div class="col-sm-7 controls">
                                {{form.city}}
                                <div class="help-block with-errors"></div>                                
                              </div>
                            </div>

                              <div class="form-group">
                              <label class="col-sm-2 control-label">State<span class="mandatory-field"> *</span></label>
                              <div class="col-sm-7 controls">
                                {{form.state}}
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>

                            <div class="form-group">
                              <label class="col-sm-2 control-label">Zip Code<span class="mandatory-field"> *</span></label>
                              <div class="col-sm-7 controls">
                                {{form.zipcode}}
                                <div class="help-block with-errors"></div>                                
                              </div>
                            </div>




                            <div class="form-group">
                                <h3 class="col-sm-12 text-right"><input type="submit" id="submit" class="btn vd_bg-green vd_white width-10" value="Save"/></h3>
                            </div>
                        </form>

<!-- ~~~~sanjay~~~~ -->
                            </div><!-- ./tab-pane -->








                       </div><!-- ./wizard1 ~~~ -->

                  </div>
                  <!-- Panel Body -->
                </div>
                <!-- Panel Widget -->
              </div>
              <!-- col-md-12 -->
            </div>
            <!-- row -->

<script type="text/javascript">
            $("#user_details_form").submit(function (e) {
                  e.preventDefault();
                  swal({   title: "Thank you for filling the details",
                    text: "Keep your education documents and fill the next form",
                    type: "success",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Next Tab",
                    closeOnConfirm: true,
                    closeOnCancel: true
                    },
                    function(isConfirm) {
                      if (isConfirm) {
                        $.ajax( {
                          type: "POST",
                          url: '/user_details',
                          data: $("#user_details_form").serialize(),
                          success: function( response ) {
                             window.location='/user_details/education'
                          }
                        });
                      }else{
                          swal("There was some problem with your data")
                        }});
                    });



/*$(document).ready(function(){

   $('#id_wedding_date_pickers').datepicker({
     format: 'yyyy-mm-dd',
     autoclose: true
   }).datepicker("setDate", "0");

}) */


// ./doc.ready


// Wedding date




$('select#id_marital_status').change(function(){
  if($(this).val() == 'MA'){
    $('.wedding_date_form_group').removeClass('hidden');
    $('#id_wedding_date').attr('required', true);
  }else if($(this).val() !== 'MA'){
    $('.wedding_date_form_group').addClass('hidden');
    $('#id_wedding_date').removeAttr('required');
  }
})


</script>



{% endblock %}
