{% extends 'master.html' %}
{% load bootstrap3 %}
{% load static from staticfiles %}
{% block pageTitle %}User Details{% endblock %}
{% block pageSubTitle %}Start entering your details here{% endblock %}
{% block content %}
<!-- Start Here -->


            <div class="row">
              <div class="col-md-12">
                <div class="panel widget">
                  <div class="panel-heading vd_bg-grey">
                    <h3 class="panel-title"> <span class="menu-icon"> <i class="fa fa-magic"></i> </span> {{user.first_name}} {{user.last_name}} </h3>
                  </div>
                  <div class="panel-body">

                      <div id="wizard-2" class="form-wizard">
                        <ul>
                          <li><a href="#tab1" data-toggle="tab">
                            <div class="menu-icon"> 1 </div>
                            User Profile </a></li>
                          <li><a href="/user_details/education">
                            <div class="menu-icon"> 2 </div>
                            Education </a></li>
                          <li><a href="/user_details/previous_employment">
                            <div class="menu-icon"> 3 </div>
                            Previous Employment </a></li>
                          <li><a href="/user_details/proof">
                            <div class="menu-icon"> 4 </div>
                            Proof </a></li>
                          <li><a href="/user_details/confirm">
                            <div class="menu-icon"> 5 </div>
                            Confirm </a></li>
                        </ul>
<hr>

<!--                         <div class="progress progress-striped active">
                          <div class="progress-bar progress-bar-info" > </div>
                        </div> -->



                        <div class="tab-content no-bd">

                          <div class="tab-pane" id="tab1">

                        <!-- <div id="ajax_loader_user_details_form" class="ajax_bck"><div class="ajax_load_image"></div></div> -->


<!-- ~~~~sanjay~~~~ -->

                    


                        <form id="user_details_form" method="post" class="form-horizontal" enctype="multipart/form-data" data-toggle="validator">
                        {{success}}
                        {% csrf_token %}
                          {% if messages %}

                                  {% for message in messages %}

                                <div class="alert alert-danger">
                                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true"><i class="icon-cross"></i></button>
                                  <span class="vd_alert-icon"><i class="fa fa-exclamation-circle vd_red"></i></span><strong>{{message}}</strong></div>

                                  {% endfor %}

                              {% endif %}
                        <!-- <div class="form-group">
                          <label class="col-sm-2 control-label">UserName</label>
                          <div class="col-sm-7 controls">
                            {{form.employee}}

                          </div>
                        </div> -->

                            <div class="form-group">
                              <label class="col-sm-2 control-label">Name(as per PAN card)<span class="mandatory-field"> *</span></label>
                              <div class="col-sm-7 controls">
                                {{form.name_pan}}
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>

                            <div class="form-group">
                              <label class="col-sm-2 control-label">Passport Size Photo<span class="mandatory-field"> *</span></label>
                              <div class="col-sm-7 controls">
                                {{form.photo}}
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>

                            

                            <div class="form-group">
                              <label class="col-sm-2 control-label">Gender<span class="mandatory-field"> *</span></label>
                              <div class="col-sm-2 controls">
                                {{form.gender}}
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>

                            <div class="form-group">
                              <label class="col-sm-2 control-label">Nationality<span class="mandatory-field"> *</span></label>
                              <div class="col-sm-7 controls">
                                {{form.nationality}}
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>

                            


                            <div class="form-group">
                              <label class="col-sm-2 control-label">Date of Birth<span class="mandatory-field"> *</span></label>
                              <div class="col-sm-7 controls">
                                {{form.date_of_birth}}
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>

                            <div class="form-group">
                              <label class="col-sm-2 control-label">Blood Group<span class="mandatory-field"> *</span></label>
                              <div class="col-sm-2 controls">
                                {{form.blood_group}}
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>

                            <div class="form-group">
                              <label class="col-sm-2 control-label">Land Phone</label>
                              <div class="col-sm-7 controls">
                                {{form.land_phone}}
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>

                            <div class="form-group">
                              <label class="col-sm-2 control-label">Emergency Phone(primary)<span class="mandatory-field"> *</span></label>
                              <div class="col-sm-7 controls">
                                {{form.emergency_phone1}}
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>

                            

                            <div class="form-group">
                              <label class="col-sm-2 control-label">Emergency Phone(secondary)<span class="mandatory-field"> *</span></label>
                              <div class="col-sm-7 controls">
                                {{form.emergency_phone2}}
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>

                            <div class="form-group">
                              <label class="col-sm-2 control-label">Mobile Phone<span class="mandatory-field"> *</span></label>
                              <div class="col-sm-7 controls">
                                {{form.mobile_phone}}
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>

                            <div class="form-group">
                              <label class="col-sm-2 control-label">Personal Email<span class="mandatory-field"> *</span></label>
                              <div class="col-sm-7 controls">
                                {{form.personal_email}}
                                <div class="help-block with-errors"></div>                                
                              </div>
                            </div>

                            <div class="form-group">
                              <label class="col-sm-2 control-label">Address Type<span class="mandatory-field"> *</span></label>
                              <div class="col-sm-7 controls">
                                {{form.address_type}}
                                
                                <div class="help-block with-errors"></div>

                              </div>
                            </div>


                            <div class="form-group">
                              <label class="col-sm-2 control-label">Street<span class="mandatory-field"> *</span></label>
                                  <div class="col-sm-7 controls">
                                    {{form.address1}}
                                <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                            <div class="form-group">
                              <label class="col-sm-2 control-label">Lane</label>
                              <div class="col-sm-7 controls">
                                {{form.address2}}
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>

                            <div class="form-group">
                              <label class="col-sm-2 control-label">City<span class="mandatory-field"> *</span></label>
                              <div class="col-sm-7 controls">
                                {{form.city}}
                                <div class="help-block with-errors"></div>                                
                              </div>
                            </div>

                              <div class="form-group">
                              <label class="col-sm-2 control-label">State<span class="mandatory-field"> *</span></label>
                              <div class="col-sm-7 controls">
                                {{form.state}}
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>

                            <div class="form-group">
                              <label class="col-sm-2 control-label">Zip Code<span class="mandatory-field"> *</span></label>
                              <div class="col-sm-7 controls">
                                {{form.zipcode}}
                                <div class="help-block with-errors"></div>                                
                              <div class="checkbox">
                                <label><input id="address" type="checkbox" value="">Temporary is copied from permanent address</label>
                                <label><span id = "temp_address" class="glyphicon glyphicon-plus"></span>Add a new temporary address</label>
                              </div>
                              
                              </div>
                            </div>
                           <!-- <table>
                           <tr>
                           <th></th>
                           <th>Speak</th>
                           <th>Read</th>
                           <th>Write</th>
                           </tr>
                           <tr>
                           <td>
                            <div class="form-group">
                              <label class="col-sm-2 control-label">Language Known<span class="mandatory-field"> *</span></label>
                              <div class="col-sm-7 controls">
                                {{form.language_known}}
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>
                            </td>
                            <td>
                            <div class="form-group">
                              
                              <div class="col-sm-50 controls">
                                {{form.speak}}
                                <div class="help-block with-errors"></div>
                              
                            </div>
                            </td>
                            <td>
                            <div class="form-group">
                              <div class="col-sm-50 controls">
                                {{form.read}}
                                <div class="help-block with-errors"></div>
                              </div>
                            </td>
                            <td>
                            <div class="form-group">
                              <div class="col-sm-50 controls">
                                {{form.write}}
                                <div class="help-block with-errors"></div>
                              
                            </div>
                            </td>
                            </tr>
                            </table> -->

                            <div class="form-group">
                                <h3 class="col-sm-12 text-right"><input type="submit" id="submit" class="btn vd_bg-green vd_white width-10" value="Save"/></h3>
                            </div>
                        </form>

<!-- ~~~~sanjay~~~~ -->


                            </div><!-- ./tab-pane -->








                       </div><!-- ./wizard1 ~~~ -->

                  </div>
                  <!-- Panel Body -->
                </div>
                <!-- Panel Widget -->
              </div>
              <!-- col-md-12 -->
            </div>
            <!-- row -->

<script type="text/javascript">

          // var theObj = 


          //                   {
          //     {%for val in address_list%}
          //                     "{{val.address_type}}":{
          //                                   "address_type": "{{val.address_type}}",
                                            
          //                                     },    
          //     {%endfor%}   
          //                   }


                     
          //   $('.content-list li').click(function(){
          //     // e.preventDefault();
          //     // debugger;
          //     var address_type;
              
          //     var the_id_key = $(this).attr('id');
          //     console.log(the_id_key);
          //     // Object Iteration
          //     for (var key in theObj[the_id_key]) {
          //       console.log(theObj[the_id_key]['address_type']);
          //       var address_type = theObj[the_id_key]['address_type'];
          //       }

          //         $.ajax({
          //         type: "GET",
          //         url : '/user_details',
          //         data : {'address_type':address_type},
          //         success : function(data){
          //          $("#user_details_form").html(data);
          //          // return data;
          //         }
          //         // error: function(xhr, status, error) {
          //         //   alert(xhr.responseText);
          //         // }
          //       });
              
          // });

   $('#id_address_type').on('change', function() {
  value =  this.value 

                    if (value=='PR'){
                      var theObj = 


                            {
                               
                                                "PR":{
                                                              "address_type": "PR",
                                                              
                                                                },    
                                  
                              }

              // e.preventDefault();
              // debugger;
              var address_type = "PR";
              
              
                $.ajax({
                  type: "GET",
                  url : '/user_details',
                  data : {'address_type':address_type},
                  success : function(data){
                   $("#user_details_form").html(data);
                   // return data;
                  }
                  // error: function(xhr, status, error) {
                  //   alert(xhr.responseText);
                  // }
                });
              }
          });


   $('#id_address_type').on('change', function() {
  value =  this.value 

                    if (value=='TM'){
                      var theObj = 


                            {
                               
                                                "TM":{
                                                              "address_type": "TM",
                                                              
                                                                },    
                                  
                              }

              // e.preventDefault();
              // debugger;
              var address_type = "TM";
              
              
                $.ajax({
                  type: "GET",
                  url : '/user_details',
                  data : {'address_type':address_type},
                  success : function(data){
                   $("#user_details_form").html(data);
                   // return data;
                  }
                  // error: function(xhr, status, error) {
                  //   alert(xhr.responseText);
                  // }
                });
              }
          });
                        
                      


            $("#user_details_form").submit(function (e) {
                  e.preventDefault();
                  var data = new FormData($('form').get(0));
                  swal({   title: "Thank you for filling the details",
                    text: "Keep your education documents and fill the next form",
                    type: "success",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Next Tab",
                    closeOnConfirm: true,
                    closeOnCancel: true
                    },
                    function(isConfirm) {
                      if (isConfirm) {
                        $.ajax( {
                          type: "POST",
                          url: '/user_details',
                          data: data,
                          cache: false,
                          processData: false,
                          contentType: false,
                          success: function( response ) {
                             window.location='/user_details/education'
                          }
                        });
                      }else{
                          swal("There was some problem with your data")
                        }});
                    });



/*$(document).ready(function(){

   $('#id_wedding_date_pickers').datepicker({
     format: 'yyyy-mm-dd',
     autoclose: true
   }).datepicker("setDate", "0");

}) */


// ./doc.ready


// Wedding date
window.onload = function(){
                           document.getElementById("id_address_type").readOnly = false;
                           document.getElementById("id_address1").readOnly = false;
                           document.getElementById("id_address2").readOnly = false;
                           document.getElementById("id_city").readOnly = false;
                           document.getElementById("id_state").readOnly = false;
                           document.getElementById("id_zipcode").readOnly = false;
    }
$("#address").change(function (e) {
                  e.preventDefault();
                  
                        $.ajax( {
                          type: "POST",
                          url: '/user_details/address_copy',
                          data: $("#user_details_form").serialize(),
                          success: function( response ) {
                            
                            swal("Success", "Permanent is saved as temporary");
                            
                            // window.location='/user_details'
                          }

                        });
                      });

$("#temp_address").click(function (e) {
                  e.preventDefault();
                  
                        window.location='/user_details/address_tempo'
                      });

</script>

<!-- // $("#address").click(function (e) {
//                   e.preventDefault();
//                   swal({   title: "Do you want to make your permanent address as temporary address??",
//                     text: "Press NO if u want add your temporary address manually",
//                     type: "warning",
//                     showCancelButton: true,
//                     confirmButtonColor: "#DD6B55",
//                     confirmButtonText: "YES",
//                     cancelButtonText: "NO",
//                     closeOnConfirm: true,
//                     closeOnCancel: true,
//                     timer:3000
//                     },
//                     function(isConfirm) {
//                       if (isConfirm) {
//                         $.ajax( {
//                           type: "POST",
//                           url: '/user_details/address_copy',
//                           data: $("#user_details_form").serialize(),
//                           success: function( response ) {
                            
//                             swal("Cancelled", "Your imaginary file is safe");
                            
//                             // window.location='/user_details'
//                           }

//                         });
//                       }else{
//                           window.location='/user_details/address_tempo'
//                         }
//                       });
//                     });
 -->





{% endblock %}
