{% extends 'master.html' %}
{% block pageTitle %}User Details{% endblock %}
{% block pageSubTitle %}Start entering your details here{% endblock %}
{% block content %}
<!-- Start Here -->

            <div class="row">
              <div class="col-md-12">
                <div class="panel widget">
                  <div class="panel-heading vd_bg-grey">
                    <h3 class="panel-title"> <span class="menu-icon"> <i class="fa fa-magic"></i> </span> Wizard Basic </h3>
                  </div>
                  <div class="panel-body">

                      <div id="wizard-2" class="form-wizard">
                        <ul>
                          <li><a href="#tab1" data-toggle="tab">
                            <div class="menu-icon"> 1 </div>
                            User Profile </a></li>
                          <li><a href="#tab2" data-toggle="tab">
                            <div class="menu-icon"> 2 </div>
                            Education </a></li>
                          <li><a href="#tab3" data-toggle="tab">
                            <div class="menu-icon"> 3 </div>
                            Previous Employment </a></li>
                          <li><a href="#tab4" data-toggle="tab">
                            <div class="menu-icon"> 4 </div>
                            Proof </a></li>
                          <li><a href="#tab5" data-toggle="tab">
                            <div class="menu-icon"> 5 </div>
                            Confirm </a></li>
                        </ul>


                        <div class="progress progress-striped active">
                          <div class="progress-bar progress-bar-info" > </div>
                        </div>



                        <div class="tab-content no-bd">

                          <div class="tab-pane" id="tab1">

                        <!-- <div id="ajax_loader_user_details_form" class="ajax_bck"><div class="ajax_load_image"></div></div> -->


<!-- ~~~~sanjay~~~~ -->
                        <form id="user_details_form" method="post" class="form-horizontal" enctype="multipart/form-data" novalidate="novalidate">

                        {% csrf_token %}

                        <!-- <div class="form-group">
                          <label class="col-sm-2 control-label">UserName</label>
                          <div class="col-sm-7 controls">
                            {{form.employee}}

                          </div>
                        </div> -->

                            <div class="form-group">
                              <label class="col-sm-2 control-label">First Name</label>
                              <div class="col-sm-7 controls">
                                {{form.first_name}}

                              </div>
                            </div>

                          <div class="form-group">
                              <label class="col-sm-2 control-label">Last Name</label>
                              <div class="col-sm-7 controls">
                                {{form.last_name}}

                              </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Middle Name</label>
                                <div class="col-sm-7 controls">
                                  {{form.middle_name}}

                                </div>
                              </div>

                            <div class="form-group">
                              <label class="col-sm-2 control-label">Gender</label>
                              <div class="col-sm-2 controls">
                                {{form.gender}}

                              </div>
                            </div>

                            <div class="form-group">
                              <label class="col-sm-2 control-label">Nationality</label>
                              <div class="col-sm-7 controls">
                                {{form.nationality}}

                              </div>
                            </div>

                            <div class="form-group">
                              <label class="col-sm-2 control-label">Marital Status</label>
                              <div class="col-sm-7 controls">
                                {{form.marital_status}}

                              </div>
                            </div>

                            <div class="form-group">
                              <label class="col-sm-2 control-label">Wedding Date</label>
                              <div class="col-sm-7 controls">
                                {{form.wedding_date}}

                              </div>
                            </div>

                            <div class="form-group">
                              <label class="col-sm-2 control-label">Blood Group</label>
                              <div class="col-sm-2 controls">
                                {{form.blood_group}}

                              </div>
                            </div>

                            <div class="form-group">
                              <label class="col-sm-2 control-label">Land Phone</label>
                              <div class="col-sm-7 controls">
                                {{form.land_phone}}

                              </div>
                            </div>

                            <div class="form-group">
                              <label class="col-sm-2 control-label">Emergency Phone</label>
                              <div class="col-sm-7 controls">
                                {{form.emergency_phone}}

                              </div>
                            </div>

                            <div class="form-group">
                              <label class="col-sm-2 control-label">Mobile Number</label>
                              <div class="col-sm-7 controls">
                                {{form.mobile_phone}}

                              </div>
                            </div>

                            <div class="form-group">
                              <label class="col-sm-2 control-label">Personal Email</label>
                              <div class="col-sm-7 controls">
                                {{form.personal_email}}
                              </div>
                            </div>



                      <div class="form-group">
                        <label class="col-sm-2 control-label">Icon Trigger</label>
                        <div class="col-sm-3 controls">
                          <div class="input-group">
                            <input type="text" placeholder="Date" id="datepicker-icon">
                            <span class="input-group-addon" id="datepicker-icon-trigger" data-datepicker="#datepicker-icon"><i class="fa fa-calendar"></i></span> </div>
                        </div>
                      </div>



                            <div class="form-group">
                                <input type="submit" id="submit" class="btn btn-danger" value="Submit"/>
                            </div>
                        </form>

<!-- ~~~~sanjay~~~~ -->
                            </div><!-- ./tab-pane -->





                          <div class="form-actions-condensed wizard">
                              <a class="btn vd_btn prev" href="javascript:void(0);">
                                  <span class="menu-icon">
                                    <i class="fa fa-fw fa-chevron-circle-left"></i>
                                  </span> Previous
                              </a>
                              <a class="btn vd_btn next" href="javascript:void(0);">Next
                                  <span class="menu-icon">
                                    <i class="fa fa-fw fa-chevron-circle-right"></i>
                                  </span>
                              </a>
                              <a class="btn vd_btn vd_bg-green finish" href="javascript:void(0);">
                                  <span class="menu-icon">
                                    <i class="fa fa-fw fa-check"></i>
                                  </span> Finish
                              </a>
                          </div>
                        </div><!-- ./tab-content -->




                       </div><!-- ./wizard1 ~~~ -->

                  </div>
                  <!-- Panel Body -->
                </div>
                <!-- Panel Widget -->
              </div>
              <!-- col-md-12 -->
            </div>
            <!-- row -->



<!-- End here -->
{% endblock %}

<script type="text/javascript">
  $(document).ready(function() {
    "use strict"; 

        var form_register = $('#user_details_form');
        var error_register = $('.alert-danger', form_register);
        var success_register = $('.alert-success', form_register);

        form_register.validate({
            errorElement: 'div', //default input error message container
            errorClass: 'vd_red', // default input error message class
            focusInvalid: false, // do not focus the last invalid input
            ignore: "",
            rules: {
                name: {
                    minlength: 3,
                    required: true
                },
                email: {
                    required: true,
                    email: true
                },
                website: {
                    required: true,
                    url: true
                },
                company: {
                    minlength: 3,         
                    required: true
                },
                member: {
                    required: true
                },        
                password: {
                    required: true
                },
                confirmpass: {
                    required: true
                },        
            },
      
      errorPlacement: function(error, element) {
        if (element.parent().hasClass("vd_checkbox") || element.parent().hasClass("vd_radio")){
          element.parent().append(error);
        } else if (element.parent().hasClass("vd_input-wrapper")){
          error.insertAfter(element.parent());
        }else {
          error.insertAfter(element);
        }
      }, 
      
            invalidHandler: function (event, validator) { //display error alert on form submit              
          success_register.fadeOut(500);
          error_register.fadeIn(500);
          scrollTo(form_register,-100);

            },

            highlight: function (element) { // hightlight error inputs
    
        $(element).addClass('vd_bd-red');
        $(element).siblings('.help-inline').removeClass('help-inline fa fa-check vd_green mgl-10');

            },

            unhighlight: function (element) { // revert the change dony by hightlight
                $(element)
                    .closest('.control-group').removeClass('error'); // set error class to the control group
            },

            success: function (label, element) {
                label
                    .addClass('valid').addClass('help-inline fa fa-check vd_green mgl-10') // mark the current input as valid and display OK icon
                  .closest('.control-group').removeClass('error').addClass('success'); // set success class to the control group
        $(element).removeClass('vd_bd-red');
            },

            submitHandler: function (form) {
          success_register.fadeIn(500);
          error_register.fadeOut(500);
          scrollTo(form_register,-100);         
            }
        });



        var form_register_2 = $('#register-form-2');
        var error_register_2 = $('.alert-danger', form_register_2);
        var success_register_2 = $('.alert-success', form_register_2);

        form_register_2.validate({
            errorElement: 'div', //default input error message container
            errorClass: 'vd_red', // default input error message class
            focusInvalid: false, // do not focus the last invalid input
            ignore: "",
            rules: {
                firstname: {
                    minlength: 3,
                    required: true
                },
                lastname: {
                    minlength: 3,
                    required: true
                },        
                email: {
                    required: true,
                    email: true
                },
                website: {
                    required: true,
                    url: true
                },
                company: {
                    minlength: 3,         
                    required: true
                },
                country: {          
                    required: true
                },        
                phone: {          
                    required: true
                },          
                password: {
                    required: true
                },
                confirmpass: {
                    required: true
                },        
            },
      
      errorPlacement: function(error, element) {
        if (element.parent().hasClass("vd_checkbox") || element.parent().hasClass("vd_radio")){
          element.parent().append(error);
        } else if (element.parent().hasClass("vd_input-wrapper")){
          error.insertAfter(element.parent());
        }else {
          error.insertAfter(element);
        }
      }, 
      
            invalidHandler: function (event, validator) { //display error alert on form submit              

          success_register_2.fadeOut(500);
          error_register_2.fadeIn(500);       
          scrollTo(form_register_2,-100);

            },

            highlight: function (element) { // hightlight error inputs
    
        $(element).addClass('vd_bd-red');
        $(element).parent().siblings('.help-inline').removeClass('help-inline hidden');
        if ($(element).parent().hasClass("vd_checkbox") || $(element).parent().hasClass("vd_radio")) {
          $(element).siblings('.help-inline').removeClass('help-inline hidden');
        }

            },

            unhighlight: function (element) { // revert the change dony by hightlight
                $(element)
                    .closest('.control-group').removeClass('error'); // set error class to the control group
            },

            success: function (label, element) {
                label
                    .addClass('valid').addClass('help-inline hidden') // mark the current input as valid and display OK icon
                  .closest('.control-group').removeClass('error').addClass('success'); // set success class to the control group
        $(element).removeClass('vd_bd-red');
            },

            submitHandler: function (form) {
          success_register_2.fadeIn(500);
          error_register_2.fadeOut(500);
          scrollTo(form_register_2,-100);

            }
        });
  
  
});
</script>