/* for grievance admin starts here */
.Gr-DropDownpad{
				padding:0px 10px;
			}
			.dropdown-menu{
				width:300px;
			}
			.dropdown{
				border: 1px solid #b7b7b7;
			}

			.TbHead{
				background-color:#666363;
				color:#fff;
		}

		.PgCus{
				background-color:#666363 !important;
				color:#fff !important;
		}

		.Gr-edit-Uname{
		color:#fff;
		background-color: #828282;
		padding: 6px 10px;
		border-radius: 3px;
      }
      .Gr-edit-fixed-bottom{
	      color:#fff;
		padding: 6px 10px;
		border-radius: 3px;
		text-align: center;
      }
      .Gr-lbl{
	color:#fff;
      }
      .Gr-lbl-border{
       /*border:1px solid #fff;*/

      }
      .form-group{
	    padding-bottom: 5px;
	    /*border-bottom: 1px solid #b7b7b7;*/
      }
      .Gr-fixed{
	border: 1px solid transparent;
	border-radius: 4px;
	background-color: #464A4C;

      }

      .Div-fixed{
	position:fixed;
	z-index: 1;
	width:100%;
	bottom:0px;
	}
      .Breadcrm-Fixed{
	position:fixed;
      z-index: 1;
      width:100%;
      }
      .control-label{
	text-align: right;
      }

    #filter_form_div {
        border: none !important;
    }

    /* to fix  breadcrumb position on extreme left*/


    /* to have scroll bar for auto complete drop down*/
    .yourlabs-autocomplete {
        max-height:250px !important;
        overflow:auto;
    }
    .nowrapClass {
        white-space: nowrap !important;
    }
    .td-center{
	text-align: center;
      }
/* for grievance admin ends here */


/* Override styles */

.pad-zero{padding:0px;}
.pad-five div div{padding:5px;word-wrap:break-word;}
.date-width{width:105px;display:block}
