
 /*      Start Leave module common css */
        .Lv-themeTxtColor {
            color: #000
        }

        .Lv-col-md-6 {
            padding-right: 6px;
            padding-left: 6px;
        }

        .LvMenuBtn {
            background-color: #4289A3;
            border-bottom: 2px solid transparent;
            padding: 15px 10px 10px 10px;
            float: left;
	    transition: all 0.4s ease-in-out;
        }

        .LvMenuBtn:hover {
            background-color: #5bc0de;
            border-bottom: 2px solid #F49209;
            cursor: pointer;
        }

        .LvMenuBtnActive {
            background-color: #5bc0de;
            /*border-bottom: 2px solid #F49209;*/
        }

        .Lv-active-caret {
            bottom: -2px;
            /*height: 3px;*/
            position: relative
        }

        .Lvcaret {
            position: absolute;
            left: 33%;
            color: #fff;
        }
        .Lv-RecordsNotFound{
            /*min-height:200px;*/
        }
/*      End Leave module common css */

/*	For Leave- My Leave tab */

    .pad5 {
	padding: 5px;
      }
    .padX12 {
	padding: 0px 12px
      }
    .padX15 {
	padding: 0px 15px
      }
      .padX5{
	padding:0px 5px;
      }
      .padX4{
	padding:0px 4px;
      }

  .LvHeader {
      background-color: #464A4C;
      margin-bottom: 10px;
      border-radius: 3px;
      padding: 5px 2px;
      color: #fff
    }

    .MyLeavesContainer {
    	padding: 30px 25px 30px;
      background-color: #FFF;
    	margin-bottom: 5px;
      margin-top: -1px;
    }
    .MyLeavesContainer .row:not(:last-child){
      cursor: pointer;
    }
    .LvTitle {
      background-color: #464A4C;
      background-color: #E0E0E0;
      color: #fff;
      color: #1d1d1d;
      padding: 8px 25px;
      padding: 15px 25px;
      border-bottom: 1px solid #CECECE;
    }
    .pad15X {
	padding: 15px 0px
    }
    .vLine {
	text-align: left;
	vertical-align: top;
	padding: 0px 5px 0px 0px;
    }
    .Lv-progress {
	background-color: #4BA5E5;
	border-radius: 0px;
	margin-bottom: 0px;
    }
    .Lv-progress-bar {
	height: 100%;
	position: relative;
	/*top: 3px;*/
	/*line-height: 100%;*/  /* Curious case */
    }
    .MyLvBtn {
	padding: 5px 8px;
	float: left;
	/*width:100px;*/
    }
    .MyLvTot {
	padding: 5px 8px;
	color: #4BA5E5;
	margin: 10px 0px 0px 10px;
	float: left;
	text-align: center;
    }
    .MyLvAppr {
	padding: 5px 8px;
	color: #f0ad4e;
	margin: 10px 0px 0px 10px;
	float: left;
	text-align: center;
    }
    .MyLvAppl {
	padding: 5px 8px;
	color: #5cb85c;
	margin: 10px 0px 0px 10px;
	float: left;
	text-align: center;
    }
    .MyLvTotl {
	padding: 5px 8px;
	color: #999;
	margin: 10px 0px 0px 10px;
	float: left;
	text-align: center;
    }
    .MyLvTotl span.total-count{font-weight: 900;color: #333;}
    .Lv-TxtWhite {
	color: #000;
    }
    .Lv-TransactionsContainer {
      height: 521px;
      width: 100%;
      background-color: #EAEEEF;
      background-color: #E0E0E0;
      background-color: #FFFFFF;
      overflow-y: hidden;
      overflow-x: hidden;
      color: #000;
      font-size: 12px;
      padding: 0;
      /*border: 1px solid #9C7B7B;*/
    }
    .LvTranAppr {
	background-color: #4E965B;
	padding: 10px;
	margin-bottom: 5px;
    }
    .LvTranAppl {
	background-color: #BF9041;
	padding: 10px;
	margin-bottom: 5px;
    }
    .LvApprPostedOn {
	float: right;
	color: #265B30
    }
    .LvApplPostedOn {
	float: right;
	color: #775D32
    }
    .Pad-topX10{
          padding-top: 5px;
    }
    /*.Lv-Type-Selected{
      background-color: #7C7A7A;
      margin: -5px -10px;
      color: #fff;
      font-weight: 700;
      border-left: 3px solid #1D92E5;
    }*/
    .Lv-Type-Selected{
      background: #F0F0F0;
      margin: -5px -10px;
      color: #444;
      font-weight: 700;
      border-left: 5px solid #7DB0B9;
      color: #696969;
      line-height: 20px;
    }

    .Lv-Type-Selected .col-md-4{padding-left: 5px;}
    .Lv-Type-Selected .col-md-8{padding-right: 10px;padding-left: 10px;}

    .Lv-ProgressBar-TotalDays{
      padding: 3px;
      font-weight: 100;
      font-size: 11px;
      color: #fff
    }
    .Lv-Tr-SelectMonth{
        color:#000;
        width: 100px;
    }

    span.total-leave-count{color: #333}

/*	End For Leave- My Leave tab */



        /*	Start Leave- Approve tab */

        .Lv-ApLvHeader {
            background-color: #f0f0f0;
            margin-bottom: 10px;
            /*border-radius: 3px;*/
            /*padding: 5px 14px;*/
            padding: 0px 10px;
            /*color: #fff*/
        }
	.Lv-ApproveTH >th{
	  background-color: #464A4C;
    /*background-color: #91ACB9;
    background-color: rgba(112,192,197, 1);*/
	  color: #fff;
	}
	.Lv-Pipe{
	  height:15px;
	  width:2px;
	  border-left: 1px solid #000;
	  margin: 0px 9px;

	}
	.Lv-Mg-SubActive{
	  background-color: #3A677D;
	  color: #fff;
    padding: 0px 5px;
    padding-right: 25px;
	  position: relative;

	}
	.Lv-Mg-SubMenu *:hover{
	  cursor: pointer;

	}
	.Lv-Mg-SubMenu{
	  color:#279993;
	  transition: all 3s ease-in-out 0.5s;
	}
	.Lv-Mg-NotifyCount{
        position: absolute;
        width: 30px;
        background-color: #3C3F42;
        top: 0px;
        bottom: 0px;
        right: 0px;
        color: #fff;
        padding: 0px 2px;
        line-height: 30px;
        text-align: center;
	}
	.margin-top11{
	    /*margin-top: 11px;*/
      margin: 0px 0px;
	}
	.margin-0-auto{
	  margin: 0 auto;
	}
	.Lv-Mg-Submitfixed{
	  position: fixed;
	  bottom: 0px;
	  width: 100%;
	}
	.Lv-ApprLvSubmit{
    /*background-color: #CDE2EF;*/
    /* background-color: #D8EBF7; */
    /*background-color: #FAFDFF;
    background-color: #E7F0F7;
    background-color: #FFF;*/
    margin-bottom: 20px;
    padding: 10px 14px;
    color: #fff;
    border: 1px solid #E7F0F7;
    border-top: 0px;
	}

  .table.ansrgreen{border-color: #E7F0F7;border-color: #dadada}






    /* Hidding the radiobuttons & checkboxes */
	input[type="radio"], input[type="checkbox"] {
	    display: none;
	}



  .checkbox {
  padding-left: 20px; }
  .checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
    .checkbox label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 3px;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
    .checkbox label::after {
      display: inline-block;
      position: absolute;
      width: 16px;
      height: 16px;
      left: 0;
      top: 0;
      margin-left: -20px;
      padding-left: 3px;
      padding-top: 1px;
      font-size: 11px;
      color: #555555; }
  .checkbox input[type="checkbox"] {
    opacity: 0; }
    .checkbox input[type="checkbox"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
    .checkbox input[type="checkbox"]:checked + label::after {
      font-family: 'FontAwesome';
      content: "\f00c"; }
    .checkbox input[type="checkbox"]:disabled + label {
      opacity: 0.65; }
      .checkbox input[type="checkbox"]:disabled + label::before {
        background-color: #eeeeee;
        cursor: not-allowed; }
  .checkbox.checkbox-circle label::before {
    border-radius: 50%; }
  .checkbox.checkbox-inline {
    margin-top: 0; }

.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: #428bca;
  border-color: #428bca; }
.checkbox-primary input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-danger input[type="checkbox"]:checked + label::before {
  background-color: #d9534f;
  border-color: #d9534f; }
.checkbox-danger input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-info input[type="checkbox"]:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de; }
.checkbox-info input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-warning input[type="checkbox"]:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e; }
.checkbox-warning input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-success input[type="checkbox"]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c; }
.checkbox-success input[type="checkbox"]:checked + label::after {
  color: #fff; }

  .radio {
    padding-left: 20px;
  }
  .radio label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
    }

  .radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
    }

  .radio label::after {
      display: inline-block;
      position: absolute;
      content: " ";
      width: 11px;
      height: 11px;
      left: 3px;
      top: 3px;
      margin-left: -20px;
      border-radius: 50%;
      background-color: #555555;
      -webkit-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
      -o-transform: scale(0, 0);
      transform: scale(0, 0);
      -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      }
  .radio input[type="radio"] {
      opacity: 0;
      }
  .radio input[type="radio"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px;
      }
    .radio input[type="radio"]:checked + label::after {
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1);
      }
    .radio input[type="radio"]:disabled + label {
      opacity: 0.65; }
      .radio input[type="radio"]:disabled + label::before {
        cursor: not-allowed;
        }

    .radio.radio-inline {
        margin-top: 0; }

    .radio-primary input[type="radio"] + label::after {
      background-color: #428bca; }
    .radio-primary input[type="radio"]:checked + label::before {
      border-color: #428bca; }
    .radio-primary input[type="radio"]:checked + label::after {
      background-color: #428bca; }

    .radio-danger input[type="radio"] + label::after {
      background-color: #d9534f; }
    .radio-danger input[type="radio"]:checked + label::before {
      border-color: #d9534f; }
    .radio-danger input[type="radio"]:checked + label::after {
      background-color: #d9534f; }

    .radio-info input[type="radio"] + label::after {
      background-color: #5bc0de; }
    .radio-info input[type="radio"]:checked + label::before {
      border-color: #5bc0de; }
    .radio-info input[type="radio"]:checked + label::after {
      background-color: #5bc0de; }

    .radio-warning input[type="radio"] + label::after {
      background-color: #f0ad4e; }
    .radio-warning input[type="radio"]:checked + label::before {
      border-color: #f0ad4e; }
    .radio-warning input[type="radio"]:checked + label::after {
      background-color: #f0ad4e; }

    .radio-success input[type="radio"] + label::after {
      background-color: #5cb85c; }
    .radio-success input[type="radio"]:checked + label::before {
      border-color: #5cb85c; }
    .radio-success input[type="radio"]:checked + label::after {
      background-color: #5cb85c; }


        /*	End  Leave- Approve tab */



/* Styles copied from leavestyle.css */

                /* Corrections */

                .margin-correct{
                  margin-left: 0px;
                  margin-right: 0px;
                }


                /* UI Corrections */

                .form-inline.short-date .input-group{max-width:150px;}
                .form-inline.short-date .export-btn{display:inline;}
                .mod .pagination{margin:0px;margin-bottom:100px;}

                /* for approval screen */
                .mw-120{
                  max-width: 120px;
                  display: block;
                  font-size: 11px;
                  /*padding-left: 15px;*/
                }

                .radio-mod{padding-left:5px;display:inline-block;margin:0px 2px;}
                .radio-mod label{
                  padding: 2px 5px;
                  color: #70C0C5;
                  background-color: #D8C5BF;
                  background-color: #fff;
                  /* border-color: #F59B7B; */
                  border-radius: 3px;
                  border: 1px solid #9C6969;
                  border: 1px solid #CE9797;
                  border:1px solid #70C0C5;
                }
                .radio-mod input:checked + label{
                        background: #616161;
                        background: #9C6969;
                        background: #70C0C5;
                        color: white;
                        border-radius:3px;
                        border: 1px solid #70C0C5;
                    }
                .radio-mod label::after, .radio-mod label::before{display:none}
                /* end of for approval screen */


                /* New classes */

                .requests-reports{
                padding:0px 0px 0px 25px;
                position:relative;
                }

                .pos-fix{
                    position: fixed;
                    bottom: 0px;
                    left: 0px;
                    right: 0px;
                }

                .anchor-inherit{
                    color:inherit;
                    height:100%;
                }
                .anchor-inherit:hover, .anchor-inherit:focus{
                    text-decoration:none;
                    color:inherit;
                }

                a.mod, a.mod:hover, a.mod:focus, a.mod:visited{outline: none !important;text-decoration: none !important;}
















        /* Corrections */

        .margin-correct{
          margin-left: 0px;
          margin-right: 0px;
        }

        .mb-0{margin-bottom: 0px;}


        .pad-left-0{padding-left: 0px !important}
        .pad-right-0{padding-right: 0px !important}

        /*.apply-export{padding-top: 9px;}*/
        /*.apply-export .btn{border: none;}*/
        /*.apply-export .btn:hover{background: #114456}*/
        .apply-export a.btn:nth-child(2){margin-right: 10px;}

        .progress-bar-container{margin:0px -35px 0px;font-size: 12px;}
        .progress-bar{
          -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,.15);
          box-shadow: inset 0 0px 0 rgba(0,0,0,.15);
        }

        .Lv-ProgressBar-TotalDays{text-align: center}
        .background-white{background-color: #fff}
        .progress-bar-container div .row{padding: 5px;}
        .remaining-leave-indicator{
          color: red;
          font-weight: 900;
          line-height: 30px;
        }

        .min-height-400{min-height: 400px;}
        .manager-name {
            color: #0E576D;
            font-size: 18px;
            font-weight: 500;
        }


        /* Corrections -2  */

        .LvMenuBtn{display: none}
        /*body.pace-done{padding-top: 75px;}*/
        .ansrLogo{max-width: 175px !important}
        .template-header{margin-top: 0px;}

        .LvTitle{display: none}

        .template-header + hr{margin-bottom: 10px;}
        .Lv-ApLvHeader + hr{margin-top: 10px}

        .Lv-ProgressBar-TotalDays{line-height: 15.7px}

        /* Corrections -3 */

        .Transactions-header{width: 100%; background: #FFF;line-height: 40px;padding: 0px 15px}
        .Transactions-header label{margin-bottom: 0px;}
        .no-border th, .no-border td{border: 1px solid #FFF}
        .leave-data-container{
          padding: 15px;
          padding-bottom: 30px;
          overflow-y: auto;
          height: 100%;
          background: #f0f0f0;
        }

        .approve-reject{
          margin-right: 25px;
          border-right: 1px solid #DDD;
          padding-right: 25px;
          margin-top: 0px;
          padding-top: 5px;
          padding-bottom: 4px;
        }
        .export-btn-2{margin-top: 0px;}
        .anchor-inherit.btn {padding: 4px 12px}
        .breadcrumb{margin-top: -25px;}

        .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{border:0px; border-top: 1px solid #E8E8E8}

        .lh-16{line-height: 16px;}

        /* Correction -4 */

        .ansr-orange-mod{
          color: #9C6969;
          background-color: #FFDDD1;
          border-color: #FFDDD1;
        }
        .table-hover.ansrgreen>tbody>tr:hover>td{background: #FAFDFF}
        .btn-ansr-orange{background: #ee5f2d;border: 1px solid #ee5f2d;color: #fff}
        .btn-ansr-orange:hover, .btn-ansr-orange:focus{background: #D84614;border: 1px solid #ee5f2d;}

        /* Header Nav */

        .ansrMenuShadow{border: 0px;background: #fff;box-shadow:0px 1px 3px rgba(0, 0, 0, 0.3)}
        .table>tbody>tr.info>td{
          color: #214761;
          color: #102B3E;
          background: #FAFDFF;
          background-color: #FFF;
          font-family: 'Droid Sans',sans-serif;;
          font-size: 13px;
        }
        .table>tbody>tr.info:hover>td{background: #FAFDFF;}
        .table>tbody>tr.info>td:first-child>a{color: #C76B4F;font-size: 14px;}






        /* Changes for Vendroid */

        .vd_content-section .row{margin-bottom: 0px;}



        /* Leave */

.modal-header {
    min-height: 16.43px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}

.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

/* Vendroid Mod */

.btn-ansr-orange:hover, .btn-ansr-orange:focus{
  color: #fff
}

