
 /*      Start Leave module common css */
        .Lv-themeTxtColor {
            color: #000
        }

        .Lv-col-md-6 {
            padding-right: 6px;
            padding-left: 6px;
        }

        .LvMenuBtn {
            background-color: #4289A3;
            border-bottom: 2px solid transparent;
            padding: 10px 10px 5px 10px;
            float: left;
	    transition: all 0.4s ease-in-out;
        }

        .LvMenuBtn:hover {
            background-color: #5bc0de;
            border-bottom: 2px solid #F49209;
            cursor: pointer;
        }

        .LvMenuBtnActive {
            background-color: #5bc0de;
            border-bottom: 2px solid #F49209;
        }

        .Lv-active-caret {
            bottom: -2px;
            /*height: 3px;*/
            position: relative
        }

        .Lvcaret {
            position: absolute;
            left: 33%;
            color: #fff;
        }
        .Lv-RecordsNotFound{
            /*min-height:200px;*/
        }
/*      End Leave module common css */

/*	For Leave- My Leave tab */

    .pad5 {
	padding: 5px;
      }
    .padX12 {
	padding: 0px 12px
      }
    .padX15 {
	padding: 0px 15px
      }
      .padX5{
	padding:0px 5px;
      }
      .padX4{
	padding:0px 4px;
      }

  .LvHeader {
      background-color: #464A4C;
      margin-bottom: 10px;
      border-radius: 3px;
      padding: 5px 2px;
      color: #fff
    }

    .MyLeavesContainer {
	padding: 0px 5px 30px 5px;
	background-color: #EAEEEF;
	margin-bottom: 5px;
    }
    .MyLeavesContainer .row:not(:last-child){
      cursor: pointer;
    }
    .LvTitle {
	background-color: #464A4C;
	color: #fff;
	padding: 8px 15px;
    }
    .pad15X {
	padding: 15px 0px
    }
    .vLine {
	text-align: left;
	vertical-align: top;
	padding: 0px 5px 0px 0px;
    }
    .Lv-progress {
	background-color: #4BA5E5;
	border-radius: 0px;
	margin-bottom: 6px;
    }
    .Lv-progress-bar {
	height: 70%;
	position: relative;
	top: 3px;
	line-height: 100%;
    }
    .MyLvBtn {
	padding: 5px 8px;
	float: left;
	/*width:100px;*/
    }
    .MyLvTot {
	padding: 5px 8px;
	color: #4BA5E5;
	margin: 10px 0px 0px 10px;
	float: left;
	text-align: center;
    }
    .MyLvAppr {
	padding: 5px 8px;
	color: #f0ad4e;
	margin: 10px 0px 0px 10px;
	float: left;
	text-align: center;
    }
    .MyLvAppl {
	padding: 5px 8px;
	color: #5cb85c;
	margin: 10px 0px 0px 10px;
	float: left;
	text-align: center;
    }
    .Lv-TxtWhite {
	color: #000;
    }
    .Lv-TransactionsContainer {
	height: 521px;
	width: 100%;
	background-color: #EAEEEF;
	overflow-y: auto;
	overflow-x: hidden;
	color: #000;
	font-size: 12px;
    }
    .LvTranAppr {
	background-color: #4E965B;
	padding: 10px;
	margin-bottom: 5px;
    }
    .LvTranAppl {
	background-color: #BF9041;
	padding: 10px;
	margin-bottom: 5px;
    }
    .LvApprPostedOn {
	float: right;
	color: #265B30
    }
    .LvApplPostedOn {
	float: right;
	color: #775D32
    }
    .Pad-topX10{
          padding-top: 5px;
    }
    .Lv-Type-Selected{
      background-color: #7C7A7A;
      margin: -5px -10px;
      color: #fff;
      font-weight: 700;
      border-left: 3px solid #1D92E5;
    }
    .Lv-ProgressBar-TotalDays{
      padding: 3px;
      font-weight: 100;
      font-size: 11px;
      color: #fff
    }
    .Lv-Tr-SelectMonth{
        color:#000;
    }

/*	End For Leave- My Leave tab */



        /*	Start Leave- Approve tab */

        .Lv-ApLvHeader {
            /*background-color: #464A4C;*/
            background-color: #4289A3;
            margin-bottom: 10px;
            border-radius: 3px;
            /*padding: 5px 14px;*/
            padding: 5px 10px;
            color: #fff
        }
	.Lv-ApproveTH >th{
	  background-color: #464A4C;
	  color: #fff;
	}
	.Lv-Pipe{
	  height:15px;
	  width:2px;
	  border-left: 1px solid #000;
	  /*margin: 0px 9px;*/
	  margin-right:10px;

	}
	.Lv-Mg-SubActive{
	  background-color: #464A4C;
	  color: #fff;
	  /*height: 31px;*/
	  /*padding: 5px ;*/
    padding: 0px 5px;
	  position: relative;
	  border-radius:3px;

	}
	.Lv-Mg-SubMenu *:hover{
	  cursor: pointer;

	}
	.Lv-Mg-SubMenu{
	  color:#279993;
	  transition: all 3s ease-in-out 0.5s;
	}
	.Lv-Mg-NotifyCount{
	  position: absolute;
	  height:20px;
	  width:20px;
	  background-color: #DB760A;
	  bottom: 13px;
	  right: -13px;
	  color:#fff;
	  border-radius: 50%;
	  padding:3px 2px;
	  text-align:center;
	  font-size:11px;
	}
	.margin-top11{
	    /*margin-top: 11px;*/
      margin: 10px 0px;
	}
	.margin-0-auto{
	  margin: 0 auto;
	}
	.Lv-Mg-Submitfixed{
	  position: fixed;
	  bottom: 0px;
	  width: 100%;
	}
	.Lv-ApprLvSubmit{
	   background-color: #E8E8E8;
            margin-bottom: 0px;
            border-radius: 3px;
            padding: 5px 14px;
            color: #fff
	}






    /* Hidding the radiobuttons & checkboxes */
	input[type="radio"], input[type="checkbox"] {
	    display: none;
	}



  .checkbox {
  padding-left: 20px; }
  .checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
    .checkbox label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 3px;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
    .checkbox label::after {
      display: inline-block;
      position: absolute;
      width: 16px;
      height: 16px;
      left: 0;
      top: 0;
      margin-left: -20px;
      padding-left: 3px;
      padding-top: 1px;
      font-size: 11px;
      color: #555555; }
  .checkbox input[type="checkbox"] {
    opacity: 0; }
    .checkbox input[type="checkbox"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
    .checkbox input[type="checkbox"]:checked + label::after {
      font-family: 'FontAwesome';
      content: "\f00c"; }
    .checkbox input[type="checkbox"]:disabled + label {
      opacity: 0.65; }
      .checkbox input[type="checkbox"]:disabled + label::before {
        background-color: #eeeeee;
        cursor: not-allowed; }
  .checkbox.checkbox-circle label::before {
    border-radius: 50%; }
  .checkbox.checkbox-inline {
    margin-top: 0; }

.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: #428bca;
  border-color: #428bca; }
.checkbox-primary input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-danger input[type="checkbox"]:checked + label::before {
  background-color: #d9534f;
  border-color: #d9534f; }
.checkbox-danger input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-info input[type="checkbox"]:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de; }
.checkbox-info input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-warning input[type="checkbox"]:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e; }
.checkbox-warning input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-success input[type="checkbox"]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c; }
.checkbox-success input[type="checkbox"]:checked + label::after {
  color: #fff; }

  .radio {
    padding-left: 20px;
  }
  .radio label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
    }

  .radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
    }

  .radio label::after {
      display: inline-block;
      position: absolute;
      content: " ";
      width: 11px;
      height: 11px;
      left: 3px;
      top: 3px;
      margin-left: -20px;
      border-radius: 50%;
      background-color: #555555;
      -webkit-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
      -o-transform: scale(0, 0);
      transform: scale(0, 0);
      -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      }
  .radio input[type="radio"] {
      opacity: 0;
      }
  .radio input[type="radio"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px;
      }
    .radio input[type="radio"]:checked + label::after {
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1);
      }
    .radio input[type="radio"]:disabled + label {
      opacity: 0.65; }
      .radio input[type="radio"]:disabled + label::before {
        cursor: not-allowed;
        }

    .radio.radio-inline {
        margin-top: 0; }

    .radio-primary input[type="radio"] + label::after {
      background-color: #428bca; }
    .radio-primary input[type="radio"]:checked + label::before {
      border-color: #428bca; }
    .radio-primary input[type="radio"]:checked + label::after {
      background-color: #428bca; }

    .radio-danger input[type="radio"] + label::after {
      background-color: #d9534f; }
    .radio-danger input[type="radio"]:checked + label::before {
      border-color: #d9534f; }
    .radio-danger input[type="radio"]:checked + label::after {
      background-color: #d9534f; }

    .radio-info input[type="radio"] + label::after {
      background-color: #5bc0de; }
    .radio-info input[type="radio"]:checked + label::before {
      border-color: #5bc0de; }
    .radio-info input[type="radio"]:checked + label::after {
      background-color: #5bc0de; }

    .radio-warning input[type="radio"] + label::after {
      background-color: #f0ad4e; }
    .radio-warning input[type="radio"]:checked + label::before {
      border-color: #f0ad4e; }
    .radio-warning input[type="radio"]:checked + label::after {
      background-color: #f0ad4e; }

    .radio-success input[type="radio"] + label::after {
      background-color: #5cb85c; }
    .radio-success input[type="radio"]:checked + label::before {
      border-color: #5cb85c; }
    .radio-success input[type="radio"]:checked + label::after {
      background-color: #5cb85c; }


        /*	End  Leave- Approve tab */

        /* Corrections */

        .margin-correct{
          margin-left: 0px;
          margin-right: 0px;
        }


        /* UI Corrections */

        .form-inline.short-date .input-group{max-width:150px;}
        .form-inline.short-date .export-btn{display:inline;}
        .mod .pagination{margin:0px;margin-bottom:100px;}

        /* for approval screen */
        .mw-100{max-width:100px;display:block;font-size:11px;}

        .radio-mod{padding-left:5px;display:inline-block;margin:0px 2px;}
        .radio-mod label{padding: 2px 5px;}
        .radio-mod input:checked + label{
                background: #616161;
                color: white;
                border-radius:5px;
            }
        .radio-mod label::after, .radio-mod label::before{display:none}
        /* end of for approval screen */


        /* New classes */

        .requests-reports{
        padding:0px 0px 0px 25px;
        position:relative;
        }

        .pos-fix{
            position: fixed;
            bottom: 0px;
            left: 0px;
            right: 0px;
        }

        .anchor-inherit{
            color:inherit;
            height:100%;
        }
        .anchor-inherit:hover, .anchor-inherit:focus{
            text-decoration:none;
            color:inherit;
        }
