/* Ansr Stylesheet */

/* Common */
.shadow {
	background-color: white; 
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	-o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

body {
	padding-top: 70px;
	padding-bottom: 70px;
    font-family: 'Droid Sans', sans-serif;
}

.required { 
	color: #FF0000; 
}
.overflowHidden {
	overflow: hidden;
}
.top-5 {
	position: relative;
	top: 5px;
}
.mar-bot-15 {
	margin-bottom: 15px;
}

/* Menu */
.ansrLogo { 
	max-width: 225px;
	margin-top: -7px;
	margin-right: 3px;
}
.ansrMenuShadow {
	border-bottom: 1px solid #aaa;	
}
.ansrLogout {
	font-weight: bold;
	color: red;
}
.ansrLogoutIcon {
	font-weight: bold;
	color: red;
}

/* Body */
/* Login Page */
.ansrLoginForm { 
	position: absolute; 
	top: 20%;
}

/* Footer */
.ansrFooterText {
	text-align:center; 
	position: absolute; 
	top: 25%;
}


/* Overriding Boostrap table styles */

.table thead>tr>th, .table tbody>tr>th, .table tfoot>tr>th, .table thead>tr>td, .table tbody>tr>td, .table tfoot>tr>td{
	border-top: none;
}

.table thead>tr>th{
	font-size: small;
}

.res-9-per {
    width: 9%;
}

.res-12-per {
    width: 12%;
}

.res-14-per {
    width: 14%;
}

.res-7-per {
    width: 12%;
}

.pad-bot-10 {
    padding-bottom: 10px;
}

.sm-fw-label {
    width: 80px;
    display: inline-block;
    margin-right: 5px;
}

.small-input {
    display: inline-block;
    width: 70px
}

.mar-bot-5 {
    margin-bottom: 5px;
}

.b-questions,
.b-hours {
    display: inline-block;
    min-width: 12px;
}

.t-questions,
.t-hours {
    display: inline-block;
    min-width: 16px;
    font-weight: bold;
}

.b-questions,
.t-questions,
.t-danger {
    color: #C30;
}

.t-hours,
.b-hours,
.t-info {
    color: #428bca;
}

.bottom {
    margin-bottom: 0;
    padding-bottom: 0;
}

.bor-top-n {
    border-top: 0;
}

/* Form-steps */
.form-steps {
    list-style: none;
    margin: 20px 0;
}

.form-step {
    float: left;
    text-align: center;
}

.one-fifth {
	width: 20%;
}
.one-fourth {
	width: 25%;
}
.one-third {
	width: 33%;
}
.one-sixth {
	width: 16%;
}
.one-half {
	width: 50%;
}

.form-step-bor {
    display: block;
    height: 2px;
    background-color: #333;
}

.form-step-no {
    border-radius: 15px;
    border: 1px solid #333;
    display: block;
    width: 30px;
    height: 30px;
    background-color: #fff;
    color: #333;
    text-align: center;
    line-height: 30px;
    margin: -15px auto 5px auto;
}

.form-step-label {
    font-weight: normal;
}

.form-step.active .form-step-no{
    background-color: #E6E6E6;
    color: #000;
}

.form-step.active .form-step-label {
    font-weight: bold;
}

.center-block {
    float: none;
}

/* For Tables */
.min-100 {
    min-width: 100px;
}

.min-150 {
    min-width: 150px;
}

.min-200 {
    min-width: 200px;
}

.min-180 {
    min-width: 180px;
}

.max-300 {
    max-width: 300px;
}
.max-150 {
    max-width: 150px;
}

.w-150 {
    width: 150px;
}

.w-50 {
    width: 50px;
}

.w-170 {
    width: 170px;
}

.w-100,
.form-control.w-100 {
    width: 100px;
}

#add-team-members .autocomplete-light-widget,
#add-team-members .autocomplete-light-widget input,
#add-team-members .autocomplete-light-widget input:focus {
    width: 100%;
}

.day-popover-button,
.row-total-view {
    padding-left: 6px;
    padding-right: 6px;
}

.day-popover-button {
    min-width: 80px;
    padding-left: 6px;
    padding-right: 6px;
}

.row-total-view {
    min-width: 90px;
}

.container-timesheet {
    width: 96%;
}
/* Event Colors */
.holiday { 
	background-color : #009452;
}

.remainder { 
	background-color : #F4B961;
}

.financialM { 
	background-color : #D6412B;
}

.nonfinancialM { 
	background-color : #FFBA02;
}
.training { 
	background-color : #176CED;
}
.hrAct { 
	background-color : #F04C23;
}

/* Disabled class for ansr */
.ansr-disabled {
	pointer-events: none;
	cursor: not-allowed;
	box-shadow: none;
	opacity: 0.65;
}

/* To fix the button overflow text */
.fixed-btn-size {
	width: 10px;
	overflow: hidden;
	white-space: nowrap;
	display: block;
	text-overflow: ellipsis;
}

input[type='radio'], 
input[type='checkbox'] {
	width: auto;
    height: auto;
}

.v-middle,
.table>tbody>tr>td.v-middle {
    vertical-align: middle;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.remove {
    margin-right: 5px;
    line-height: 1;
}

.form-control.alert-danger:focus {
    border-color: #a94442;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(169, 68, 66, 0.6);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(169, 68, 66, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(169, 68, 66, 0.6)
}

/* To fix the button overflow text */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #dd4e22;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}
