{% extends 'form_master.html' %}
{% block pageTitle %}Education Details{% endblock %}
{% block siteTitle %}Education Details{% endblock %}
{% block form_content %}

{% load honeypot %}
  <form id="education_form" enctype="multipart/form-data" method="post" class="form-horizontal col-sm-7" enctype="multipart/form-data" data-toggle="validator">

  {% csrf_token %}
  {% if messages %}

      {% for message in messages %}

    <div class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true</button>
      <span class="vd_alert-icon"><i class="fa fa-exclamation-circle vd_red"></i></span><strong>{{message}}</strong></div>

      {% endfor %}

  {% endif %}


  <!-- <div class="form-group">
    <label class="col-sm-5 control-label">Employee</label>
    <div class="col-sm-7 controls">
      {{form.employee}}
    </div>
  </div> -->

<div class="form-group">
    <label class="col-sm-5 control-label">Education Type<span class="mandatory-field"> *</span></label>
    <div class="col-sm-7 controls">
      {{form.education_type}}
      {{education_type_errors}}
      {{form.education_type.errors}}
      <div class="help-block with-errors"></div>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-5 control-label">Qualification<span class="mandatory-field"> *</span></label>
    <div class="col-sm-7 controls">
      {{form.qualification}}
      {{qualification_errors}}
      {{form.qualification.errors}}
      <div class="help-block with-errors"></div>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-5 control-label">Specialization<span class="mandatory-field"> *</span></label>
    <div class="col-sm-7 controls">
      {{form.specialization}}
      
      {{specialization_errors}}
      
     <!--  {{form.specialization.errors}} -->
      <div class="help-block with-errors"></div>
    </div>
  </div>



  <div class="form-group">
    <label id ="from_date" class="col-sm-5 control-label">From Date<span class="mandatory-field"> *</span></label>
    <div class="col-sm-7 controls">
      <div class="input-group">
        {{form.from_date}}
        {{from_date_errors}}
        {{form.from_date.errors}}
        <span class="help-inline">Format:MM/DD/YYYY</span>
      <div class="help-block with-errors"></div>
        <span class="input-group-addon" id="datepicker-icon-trigger" data-datepicker="#datepicker-icon"><i class="fa fa-calendar"></i></span> </div>
    </div>
  </div>
  <div class="form-group">
    <label id="to_date" class="col-sm-5 control-label">To Date<span class="mandatory-field"> *</span></label>
    <div class="col-sm-7 controls">
      <div class="input-group">
        {{form.to_date}}
        {{to_date_errors}}
        {{form.to_date.errors}}
        <span class="help-inline">Format:MM/DD/YYYY</span>
        <div class="help-block with-errors"></div>        
        <span class="input-group-addon" id="datepicker-icon-trigger" data-datepicker="#datepicker-icon"><i class="fa fa-calendar"></i></span> </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-5 control-label">Institution<span class="mandatory-field"> *</span></label>
    <div id="institute" class="col-sm-7 controls">
      {{form.institute}}
      {{institute_errors}}
      {{form.institute.errors}}
      <div class="help-block with-errors"></div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-5 control-label">Board/University<span class="mandatory-field"> *</span></label>
    <div class="col-sm-7 controls">
      {{form.board_university}}
      {{board_university_errors}}
      {{form.board_university.errors}}
      <div class="help-block with-errors"></div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-5 control-label">Overall percentage/CPGA<span class="mandatory-field"> *</span></label>
    <div class="col-sm-7 controls">
      {{form.overall_marks}}
      {{overall_marks_errors}}
      {{form.overall_marks.errors}}
      <div class="help-block with-errors"></div>
    </div>
  </div>

  {{marks_card_attachment}}
  <div class="form-group">
    <label class="col-sm-5 control-label">Marks Card</label>
    <div class="col-sm-7 controls">
      {{form.marks_card_attachment}}
      
      <div class="help-block with-errors"></div>
    </div>
  </div>
  {% render_honeypot_field "marks" %}
  
  <div class="form-group">

        <h3 class="col-sm-12 text-right"><input type="submit" id="submit" class="btn vd_bg-green vd_white" value="Save"/></h3>

  </div>

</form>

<div id="user-list" class="col-sm-5">
<!--   <input type="button" id="vivek1" class="btn vd_bg-green vd_white width-10" value="vivek1"/>
  <input type="button" id="vivek2" class="btn vd_bg-green vd_white width-10" value="vivek2"/> -->

  <div class="content-list the-qualification">
      <ul class="list-wrapper">
      {% for val in education_list %}
        <li id="{{val.qual}},{{val.spec}}"> 
        <input type="hidden" value="{{val.spec}}" class="speclization">
          <div class="menu-text">{{val.qual}} - <span class="qual-spec">{{val.spec}}</span></div>
          </li>
          <div class="menu-icon vd_red pull-right"><i id ="{{val.qual}},{{val.spec}}" class="glyphicon glyphicon-trash"></i></div>
       {% endfor %}

      </ul>
    </div><!-- ./ content-list -->

  </div><!-- ./ user-list -->


{% endblock %}


{% block form_scripts %}

            <script type="text/javascript">

            var theObj = 


                            {
              {%for val in education_list%}
                              "{{val.qual}},{{val.spec}}":{
                                            "qualification": "{{val.qual}}",
                                            "specialization": "{{val.spec}}"
                                              },    
              {%endfor%}   
                            }


                     
            $('.content-list i').click(function(){
              // e.preventDefault();
              // debugger;
              var qualification;
              var specialization;
              var the_id_key = $(this).attr('id');
              console.log(the_id_key);
              // Object Iteration
              for (var key in theObj[the_id_key]) {
                console.log(theObj[the_id_key]['qualification']);
                var qualification = theObj[the_id_key]['qualification'];
                console.log(theObj[the_id_key]['specialization']);
                var specialization = theObj[the_id_key]['specialization'];
              }
              
              swal({   title: "Are you sure you want to delete?",
                    text: "",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes",
                    cancelButtonText: "No",
                    closeOnConfirm: true,
                    closeOnCancel: true
                    },
                    function(isConfirm) {
                      if (isConfirm) {
                          $.ajax({
                            type: "GET",
                            url : '/user_details/education_delete',
                            data : {'qualification':qualification,'specialization':specialization},
                            success : function(data){
                             window.location='/user_details/education'
                             // return data;
                            }
                            // error: function(xhr, status, error) {
                            //   alert(xhr.responseText);
                            // }
                          });
              }});
          });

                
                            var theObj = 

                            {
              {%for val in education_list%}
                              "{{val.qual}},{{val.spec}}":{
                                            "qualification": "{{val.qual}}",
                                            "specialization": "{{val.spec}}"
                                              },    
              {%endfor%}   
                            }


            $('.content-list li').click(function(){
              // e.preventDefault();
              // debugger;
              var qualification;
              var specialization;
              var the_id_key = $(this).attr('id');
              console.log(the_id_key);
              // Object Iteration
              for (var key in theObj[the_id_key]) {
                console.log(theObj[the_id_key]['qualification']);
                var qualification = theObj[the_id_key]['qualification'];
                console.log(theObj[the_id_key]['specialization']);
                var specialization = theObj[the_id_key]['specialization'];
              }
              
                $.ajax({
                  type: "GET",
                  url : '/user_details/education',
                  data : {'qualification':qualification,'specialization':specialization},
                  success : function(data){
                   $("#education_form").html(data);
                   // return data;
                  }
                  // error: function(xhr, status, error) {
                  //   alert(xhr.responseText);
                  // }
                });
              
          });

            $('#institute,#id_board_university,#id_overall_marks').on('click', function(key) {
                  
                  var today = new Date();
                  var dd = today.getDate();
                  var mm = today.getMonth()+1; //January is 0!
                  var yyyy = today.getFullYear();

                  if(dd<10) {
                      dd='0'+dd
                  } 

                  if(mm<10) {
                      mm='0'+mm
                  } 

                  today = mm+'/'+dd+'/'+yyyy;

                  var from_date = document.getElementById("id_from_date").value;
                  var to_date = document.getElementById("id_to_date").value;

                  if(from_date >= today){
                    swal("You cannot fill future date as your education from date!")

                    document.getElementById("id_from_date").value = "";
                  }

                  if(from_date >= to_date){
                    swal("your education date has ended before starting!")
                    document.getElementById("id_from_date").value = "";
                    document.getElementById("id_to_date").value = "";
                  }

                });

            $("#education_form").submit(function (e) {
                  e.preventDefault();
                  // if (document.getElementsByName("marks") == '' ){
                  var data = new FormData($('form').get(0));
                  swal({   title: "Do you want to add again?",
                    text: "",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Save and fill again!",
                    cancelButtonText: "Save and continue to next tab",
                    closeOnConfirm: true,
                    closeOnCancel: true
                    },
                    function(isConfirm) {
                      if (isConfirm) {
                        $.ajax( {
                          type: "POST",
                          url: '/user_details/education',
                          data: data,
                          cache: false,
                          processData: false,
                          contentType: false,
                          success: function( data ) {
                            
                             window.location='/user_details/education'
                             
                          },
                          error: function( data ){
                            var errors = data.response;
                            console.log(errors);
                          }
                        });
                      }else{
                          $.ajax( {
                            type: "POST",
                            url: '/user_details/education',
                            data: data,
                            cache: false,
                            processData: false,
                            contentType: false,
                            success: function( response ) {
                               window.location='/user_details/previous_employment'
                        },
                            error: function( data ){
                                var errors = data.response;
                                console.log(errors);
                                }
                      });}});

                //    }
                // else{
                //   window.location='/user_details/sorry'
                // }
                    });


        
            </script>
<!-- End here -->

{% endblock %}

