{% extends 'form_master.html' %}
{% block siteTitle %}Family Details{% endblock %}
{% block form_content %}
{% load honeypot %}


                        <form id="family_details_form" method="post" class="form-horizontal" enctype="multipart/form-data" data-toggle="validator">

                        {% csrf_token %}
                        {% if messages %}

                            {% for message in messages %}

                          <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"><i class="icon-cross"></i></button>
                          <span class="vd_alert-icon"><i class="fa fa-exclamation-circle vd_red"></i></span><strong>{{message}}</strong></div>

                            {% endfor %}

                        {% endif %}
                        
                              <div class="form-group">
                              <label class="col-sm-4 control-label">Marital Status<span class="mandatory-field"> *</span></label>
                              <div class="col-sm-7 controls">
                                {{form.marital_status}}
                                {{marital_status_errors}}
                                <span class="help-inline">Some hint here</span>
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>

                            <div class="form-group wedding_date_form_group">
                              <label class="col-sm-4 control-label">Wedding Date</label>
                              <div class="col-sm-7 controls">
                                {{form.wedding_date}}
                                {{wedding_date_errors}}
                                <span class="help-inline">Some hint here</span>
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>
                            
                            <div class="form-group spouse_name_form_group">
                              <label class="col-sm-4 control-label">Spouse Name</label>
                              <div class="col-sm-7 controls">
                                {{form.spouse_name}}
                                {{spouse_name_errors}}
                                <span class="help-inline">Some hint here</span>
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>

                            <div class="form-group no_of_children_form_group">
                              <label class="col-sm-4 control-label">Number of children</label>
                              <div class="col-sm-7 controls">
                                {{form.no_of_children}}
                                {{no_of_children_errors}}
                                <span class="help-inline">Some hint here</span>
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>

                            <div class="form-group">
                              <label class="col-sm-4 control-label">Mother Name<span class="mandatory-field"> *</span></label>
                              <div class="col-sm-7 controls">
                                {{form.mother_name}}
                                {{mother_name_errors}}
                                <span class="help-inline">Some hint here</span>
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>

                            <div class="form-group">
                              <label class="col-sm-4 control-label">Mother Date of birth</label>
                              <div class="col-sm-3 controls">
                                {{form.mother_dob}}
                                {{mother_dob_errors}}
                                <span class="help-inline">Some hint here</span>
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>

                            <div class="form-group">
                              <label class="col-sm-4 control-label">Mother Profession</label>
                              <div class="col-sm-7 controls">
                                {{form.mother_profession}}
                                {{mother_profession_errors}}
                                <span class="help-inline">Some hint here</span>
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>

                            <div class="form-group">
                              <label class="col-sm-4 control-label">Father Name<span class="mandatory-field"> *</span></label>
                              <div class="col-sm-7 controls">
                                {{form.father_name}}
                                {{father_name_errors}}
                                <span class="help-inline">Some hint here</span>
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>

                            

                            <div class="form-group">
                              <label class="col-sm-4 control-label">Father Date of Birth</label>
                              <div class="col-sm-3 controls">
                                {{form.father_dob}}
                                {{father_dob_errors}}
                                <span class="help-inline">Some hint here</span>
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>

                            <div class="form-group">
                              <label class="col-sm-4 control-label">Father Profession</label>
                              <div class="col-sm-7 controls">
                                {{form.father_profession}}
                                {{father_profession_errors}}
                                <span class="help-inline">Some hint here</span>
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>

                            <div class="form-group">
                              <label class="col-sm-4 control-label">Emergency Phone (primary)<span class="mandatory-field"> *</span></label>
                              <div class="col-sm-7 controls">
                                {{form.emergency_phone1}}
                                {{emergency_phone1_errors}}
                                <span class="help-inline">Some hint here</span>
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>

                            

                            <div class="form-group">
                              <label class="col-sm-4 control-label">Emergency Phone (secondary)<span class="mandatory-field"> *</span></label>
                              <div class="col-sm-7 controls">
                                {{form.emergency_phone2}}
                                {{emergency_phone2_errors}}
                                <span class="help-inline">Some hint here</span>
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>

                            <div class="form-group child1_name_form_group">
                              <label class="col-sm-4 control-label">Child1 Name</label>
                              <div class="col-sm-7 controls">
                                {{form.child1_name}}
                                {{child1_name_errors}}
                                <span class="help-inline">Some hint here</span>
                                <div class="help-block with-errors"></div>                                
                              </div>
                            </div>

                            <div class="form-group child2_name_form_group">
                              <label class="col-sm-4 control-label">Child2 Name</label>
                              <div class="col-sm-7 controls">
                                {{form.child2_name}}
                                {{child2_name_errors}}
                                <span class="help-inline">Some hint here</span>
                                <div class="help-block with-errors"></div>

                              </div>
                            </div>
                            {% render_honeypot_field "child3" %}
                            <div class="form-group">
                                <h3 class="col-sm-12 text-right"><input type="submit" id="submit" class="btn vd_bg-green vd_white width-10" value="Save"/></h3>
                            </div>
                        </form>

{% endblock %}                        
{% block form_scripts %}                        

<script type="text/javascript">

$("#family_details_form").submit(function (e) {
                  e.preventDefault();
                  swal({   title: "Thank you for filling your family details",
                    text: "Keep your education documents and fill the next form",
                    type: "success",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Next Tab",
                    closeOnConfirm: true,
                    closeOnCancel: true
                    },
                    function(isConfirm) {
                      if (isConfirm) {
                        $.ajax( {
                          type: "POST",
                          url: '/user_details/family_details',
                          data: $("#family_details_form").serialize(),
                          success: function( response ) {
                             window.location='/user_details/education'
                          }
                        });
                      }else{
                          swal("There was some problem with your data")
                        }});
                    });




$('select#id_marital_status').on('change' ,function(){
  if($(this).val() == 'MA'){
    $('.wedding_date_form_group').removeClass('hidden');
    $('#id_wedding_date').attr('required', true);
    $('.spouse_name_form_group').removeClass('hidden');
    $('#id_spouse_name').attr('required', true);
    $('.child1_name_form_group').removeClass('hidden');
    $('#id_child1_name').attr('required', true);
    $('.child2_name_form_group').removeClass('hidden');
    $('#id_child2_name').attr('required', true);
    
    $('.no_of_children_form_group').removeClass('hidden');
    $('#id_child2_name').attr('required', true);
  }else if($(this).val() !== 'MA'){
    $('.wedding_date_form_group').addClass('hidden');
    $('#id_wedding_date').removeAttr('required');
    $('.spouse_name_form_group').addClass('hidden');
    $('#id_spouse_name').removeAttr('required');
    $('.child1_name_form_group').addClass('hidden');
    $('#id_child1_name').removeAttr('required');
    $('.child2_name_form_group').addClass('hidden');
    $('#id_child2_name').removeAttr('required');
    
    $('.no_of_children_form_group').addClass('hidden');
    $('#id_child2_name').removeAttr('required');
      
  }
})

$(window).load(function(){
  if($('select#id_marital_status').val() == 'MA'){
    $('.wedding_date_form_group').removeClass('hidden');
    $('#id_wedding_date').attr('required', true);
    $('.spouse_name_form_group').removeClass('hidden');
    $('#id_spouse_name').attr('required', true);
    $('.child1_name_form_group').removeClass('hidden');
    $('#id_child1_name').attr('required', true);
    $('.child2_name_form_group').removeClass('hidden');
    $('#id_child2_name').attr('required', true);
    
    $('.no_of_children_form_group').removeClass('hidden');
    $('#id_child2_name').attr('required', true);
  }else if($('select#id_marital_status').val() !== 'MA'){
    $('.wedding_date_form_group').addClass('hidden');
    $('#id_wedding_date').removeAttr('required');
    $('.spouse_name_form_group').addClass('hidden');
    $('#id_spouse_name').removeAttr('required');
    $('.child1_name_form_group').addClass('hidden');
    $('#id_child1_name').removeAttr('required');
    $('.child2_name_form_group').addClass('hidden');
    $('#id_child2_name').removeAttr('required');
    
    $('.no_of_children_form_group').addClass('hidden');
    $('#id_child2_name').removeAttr('required');
      
  }  
})


</script>

{% endblock %}
