{% extends 'master.html' %}
Hello world

{% block form_content %}
sdakjfhlaksjdh

                        <ul>
                          <li><a href="#tab1" data-toggle="tab">
                            <div class="menu-icon"> 1 </div>
                            User Profile </a></li>
                          <li><a href="/user_details/education">
                            <div class="menu-icon"> 2 </div>
                            Education </a></li>
                          <li><a href="/user_details/previous_employment">
                            <div class="menu-icon"> 3 </div>
                            Previous Employment </a></li>
                          <li><a href="/user_details/proof">
                            <div class="menu-icon"> 4 </div>
                            Proof </a></li>
                          <li><a href="/user_details/confirm">
                            <div class="menu-icon"> 5 </div>
                            Confirm </a></li>
                        </ul>


{% endblock %}

 