{% extends 'form_master.html' %}
{% block siteTitle %}Proof Details{% endblock %}
{% block pageSubTitle %}Enter your valid proof details{% endblock %}

{% block form_content %}
      {% load honeypot %}            
                <form id="proof_form" method="post" class="form-horizontal" enctype="multipart/form-data" data-toggle="validator">
                <!-- * Any of the 2 proofs with attachments is mandatory -->
                {% csrf_token %}
                
                  {% if messages %}

                    {% for message in messages %}

                  <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"><i class="icon-cross"></i></button>
                    <span class="vd_alert-icon"><i class="fa fa-exclamation-circle vd_red"></i></span><strong>{{message}}</strong></div>
                   {% endfor %}
                    {% endif %}
              
                    
                <div class="form-group">
                  <label class="col-sm-4 control-label">PAN Card Number<span class="mandatory-field"> *</span></label>
                  <div class="col-sm-3 controls">
                    {{form.pan}}
                    <div><id="id_pan_error">{{pan_error}}</div>
                    {{form.pan_attachment}}
                    <div><id="id_pan_att_error">{{pan_att_error}}</div>
                    <div class="help-block with-errors"></div>
                  </div>

                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label">Aadhar Card Number</label>
                  <div class="col-sm-3 controls">
                    {{form.aadhar_card}}
                    {{form.aadhar_attachment}}
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label">Driving License Number</label>
                  <div class="col-sm-3 controls">
                  {{form.dl}}
                  {{form.dl_attachment}}
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label">Passport Number</label>
                  <div class="col-sm-3 controls">
                    {{form.passport}}
                    {{form.passport.errors}}
                    {{form.passport_attachment}}
                    {{form.passport_attachment.errors}}
                    <div class="help-block with-errors"></div>

                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label">Voter's ID Number</label>
                  <div class="col-sm-3 controls">
                    {{form.voter_id}}
                    {{form.voter_id.errors}}
                    {{form.voter_attachment}}
                    {{form.voter_attachment.errors}}
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                {% render_honeypot_field "id_card" %}
                <div class="form-group">

                      <h3 class="col-sm-12 text-right"><input type="submit" id="submit" class="btn vd_bg-green vd_white" value="Save"/></h3>

                </div>
              
              </form>
             
{% endblock %}             

{% block form_scripts %}


<script type="text/javascript">
/* 2 form validation */
var pan_error_d;
var pan_att_error_d;
pan_error_d = {{pan_error_d}}
pan_att_error_d = {{pan_att_error_d}}
var validateTwo = function(){
  var uploadedCount = 0;
  var fileUploadCount = 0;
  $('#tab4 .form-group').each(function(){
    if(($(this).find('input[type="text"]').val() !== '') && ($(this).find('input.bare').val() !== '')){
          uploadedCount++;
          console.log(uploadedCount);
        }
/*     if ($(this).find('input.bare').val() !== '') {
          fileUploadCount++;
          console.log('fileUploadCount is ' + fileUploadCount);
      } */  
  })
  console.log('final uploadedCount is ' + uploadedCount)  ;
  if(uploadedCount < 3){
            // debugger;
      swal({title:"Min 2 proofs with attachments required",
            type: "error",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "OK!",
            cancelButtonText: "Cancel",
            closeOnConfirm: true,
            closeOnCancel: true
            })
      }else{
        // debugger;
        
            var data = new FormData($('form').get(0));
            swal({   title: "Checking proof details!!",
              text: "",
              type: "warning",
              showCancelButton: true,
              confirmButtonColor: "#DD6B55",
              confirmButtonText: "OK!",
              cancelButtonText: "Cancel",
              closeOnConfirm: true,
              closeOnCancel: true
              },
              function(isConfirm) {
                if (isConfirm) {
                  $.ajax( {
                    type: "POST",
                    url: '/user_details/proof',
                    data: data,
                    cache: false,
                    processData: false,
                    contentType: false,
                    success: function(data) {
                        
                        var proof = $(data).find('#proof_form')
                        var pan_error = pan_error_d
                        var pan_att_error = pan_att_error_d
                        
                        if (pan_error == pan_error_d){
                          console.log("if1");
                            $("#tab4").html(proof); 
                        }
                        // if (pan_att_error == pan_att_error_d){
                        //   console.log("if2");
                        //     $("#tab4").html(proof); 
                        // }
                        else{
                          swal({   title: "Collecting proof details!!",
                              text: "",
                              type: "Success",
                              showCancelButton: true,
                              confirmButtonColor: "#DD6B55",
                              confirmButtonText: "OK!",
                              cancelButtonText: "Cancel",
                              closeOnConfirm: true,
                              closeOnCancel: true
                              },
                              function(isConfirm) {
                                if (isConfirm) {
                                  console.log("else")
                                  window.location = '/user_details/confirm'
                                }
                              });
                        }
                        // $("#tab4").html(proof);
                        }
      });
    }});    
     }
                
      }
}// end of validate2
$("#proof_form").submit(function (e) {
e.preventDefault();
validateTwo();
  });
$(document).ready(function(){
  
})
</script>
<!-- End here -->
{% endblock %}