{% extends 'form_master.html' %}
{% block siteTitle %}Main Details{% endblock %}
{% block form_content %}
{% load honeypot %}




                        <form id="user_details_form" method="post" class="form-horizontal" enctype="multipart/form-data" data-toggle="validator">
                        {{success}}
                        {% csrf_token %}

                          {% if messages %}

                                  {% for message in messages %}

                                <div class="alert alert-danger">
                                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true"><i class="icon-cross"></i></button>
                                  <span class="vd_alert-icon"><i class="fa fa-exclamation-circle vd_red"></i></span><strong>{{message}}</strong></div>

                                  {% endfor %}

                              {% endif %}


                            <div class="form-group">
                              <label class="col-sm-4 control-label">Name (as per PAN card)<span class="mandatory-field"> *</span></label>
                              <div class="col-sm-7 controls">
                                {{form.name_pan}}
                                {{name_pan_errors}}
                                
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>

                            <div class="form-group">
                              <label class="col-sm-4 control-label">Passport Size Photo<span class="mandatory-field"> *</span></label>
                              <div class="col-sm-7 controls" style="position:relative">
                              
                               <div id = "imageresize">{{form.photo}}</div>
                               {{photo_errors}}
                                <span class="help-inline">Allowed file types: jpg, png, jpeg.<br/>
                                  Maximum allowed file size: 1MB </span>

                                <div class="help-block with-errors"></div>
                              </div>
                            </div>

                            

                            <div class="form-group">
                              <label class="col-sm-4 control-label">Gender<span class="mandatory-field"> *</span></label>
                              <div class="col-sm-7 controls">
                                {{form.gender}}
                                {{gender_errors}}
                                
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>

                            <div class="form-group">
                              <label class="col-sm-4 control-label">Nationality<span class="mandatory-field"> *</span></label>
                              <div class="col-sm-7 controls">
                                {{form.nationality}}
                                {{nationality_errors}}
                                
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>

                            


                            <div class="form-group">
                              <label class="col-sm-4 control-label">Date of Birth<span class="mandatory-field"> *</span></label>
                              <div class="col-sm-3 controls">
                                {{form.date_of_birth}}
                                {{date_of_birth_errors}}
                                
                                <span class="help-inline">Format:MM/DD/YYYY</span>
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>

                            <div class="form-group">
                              <label class="col-sm-4 control-label">Blood Group<span class="mandatory-field"> *</span></label>
                              <div class="col-sm-7 controls">
                                {{form.blood_group}}
                                {{blood_group_errors}}
                                
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>

                            <div class="form-group">
                              <label class="col-sm-4 control-label">Land Phone</label>
                              <div class="col-sm-7 controls">
                                {{form.land_phone}}
                                {{land_phone_errors}}
                                <span class="help-inline">Format:9999999999</span>
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>

                            <div class="form-group">
                              <label class="col-sm-4 control-label">Mobile Phone<span class="mandatory-field"> *</span></label>
                              <div class="col-sm-7 controls">
                                {{form.mobile_phone}}
                                {{mobile_phone_errors}}
                                <span class="help-inline">Format:9999999999</span>
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>
                            <div id="temp_add">
                            <div class="form-group">
                              <label class="col-sm-4 control-label">Address Type<span class="mandatory-field"> *</span></label>
                              <div class="col-sm-7 controls">
                                {{form.address_type}}
                                {{address_type_errors}}
                                
                                <div class="help-block with-errors"></div>

                              </div>
                            </div>
                            

                            <div class="form-group">
                              <label class="col-sm-4 control-label">Street<span class="mandatory-field"> *</span></label>
                                  <div class="col-sm-7 controls">
                                    {{form.address1}}
                                    {{address1_errors}}
                                
                                <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                            <div class="form-group">
                              <label class="col-sm-4 control-label">Lane</label>
                              <div class="col-sm-7 controls">
                                {{form.address2}}
                                {{address2_errors}}
                               
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>

                            <div class="form-group">
                              <label class="col-sm-4 control-label">City<span class="mandatory-field"> *</span></label>
                              <div class="col-sm-7 controls">
                                {{form.city}}
                                {{city_errors}}
                                
                                <div class="help-block with-errors"></div>                                
                              </div>
                            </div>

                              <div class="form-group">
                              <label class="col-sm-4 control-label">State<span class="mandatory-field"> *</span></label>
                              <div class="col-sm-7 controls">
                                {{form.state}}
                                {{state_errors}}
                                
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>

                            <div class="form-group">
                              <label class="col-sm-4 control-label">Country<span class="mandatory-field"> *</span></label>
                              <div class="col-sm-7 controls">
                                {{form.country}}
                                {{country_errors}}
                                
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>

                            <div class="form-group">
                              <label class="col-sm-4 control-label">Zip Code<span class="mandatory-field"> *</span></label>
                              <div class="col-sm-7 controls">
                                {{form.zipcode}}
                                {{zipcode_errors}}
                                <span class="help-inline">Format:666666</span>
                                <div class="help-block with-errors"></div>                                
                              <div class="checkbox">
                                <label id="address_copy"><input id="address" type="checkbox" value="">Make your permanent as temporary</label>
                                <label><span id = "temp_address" class="glyphicon glyphicon-plus"></span>Add a new temporary address</label>
                              </div>
                              

                              </div>
                            </div>

<div id="lang_add" class ="hidden">
                           <div id="table_add0">
                           
Language : {{form.language}}

Speak : {{form.speak}}

Read : {{form.read}}

Write : {{form.write}}


<input type="button" class="btn btn-danger hidden" value="remove" id="remove">
                            
  </div><!-- ./table_add0 -->
                            <input type="button" class="btn btn-danger hidden" id="remove_lang" value="Remove">
</div><!-- ./lang_add -->


  </div>
                          
  <input type="button" class="btn btn-danger hidden" value="Add Language" id="add">
                            
    {% render_honeypot_field "website" %}

     <div class="form-group">
         <h3 class="col-sm-12 text-right"><input type="submit" id="submit" class="btn vd_bg-green vd_white width-10" value="Save"/></h3>
    </div>
 </form>


{% endblock %}                        


{% block form_scripts %}


<script type="text/javascript">
$(window).load(function() {
  
  var a = document.getElementById("id_address_type").value;
  var b = document.getElementById("id_address1").value;
  var c = document.getElementById("id_address2").value;
  console.log(a)
  console.log(b)
  console.log(c)
  if(b==""){
    
    document.getElementById("address").disabled=true;
  }
  if(c==""){
    document.getElementById("address").disabled=true;
  }

  $('#imageresize').css({ width: '10%' });

  var id = {{request.user.id}}
  
  $.ajax({
                  type: "GET",
                  url : '/checkbox_check',
                  data : {'id':id},
                  success : function(data){
                   if (data == 'True'){
                    $('#address').prop('checked', true)
                   }
                   else{
                     $('#address').prop('checked', false)
                   }
                   // return data;
                  }
                  // error: function(xhr, status, error) {
                  //   alert(xhr.responseText);
                  // }
                });






})


            $("body").on('click','.language',function(){
            
             $(this).val(this.checked ? 1 : 0);
            });

    $('#id_address1,id_city,id_zipcode').on('keyup', function() {
      document.getElementById("address").disabled=false;
    });



   $('#id_address_type').on('change', function() {
        value =  this.value 
  
    // console.log(value);

        if (value=='PR'){
            var theObj = 
                  {
                    "PR":{
                          "address_type": "PR",
                          },                
                  }

              // e.preventDefault();
              // debugger;
            var address_type = "PR";

              $.ajax({
                type: "GET",
                url : '/user_details',
                data : {'address_type':address_type},
                success : function(data){
                  var permanent = $(data).find('#temp_add')
                  $("#temp_add").html(permanent);
                   // return data;
                }
                  // error: function(xhr, status, error) {
                  //   alert(xhr.responseText);
                  // }
              });
            }
        });

   $('#id_address_type').on('change', function() {
  value =  this.value 

                    if (value=='TM'){
                      var theObj = 


                            {
                               
                                  "TM":{
                                  "address_type": "TM",
                                                              
                                    },    
                                  
                              }


              var address_type = "TM";

                $.ajax({
                  type: "GET",
                  url : '/user_details',
                  data : {'address_type':address_type},
                  success : function(data){
                   var temporary = $(data).find('#temp_add')
                   $("#temp_add").html(temporary);
                   // return data;
                  }
                  // error: function(xhr, status, error) {
                  //   alert(xhr.responseText);
                  // }
                });
              }
          });
                
            $("#user_details_form").submit(function (e) {

                  e.preventDefault();
                  // if (document.getElementsByName("website") == '' ){
                  var data = new FormData($('form').get(0));
                  swal({   title: "Thank you for filling the details",
                    text: "",
                    type: "success",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Next Tab",
                    closeOnConfirm: true,
                    closeOnCancel: true
                    },
                    function(isConfirm) {
                      if (isConfirm) {
                        $.ajax( {
                          type: "POST",
                          url: '/user_details',
                          data: data,
                          cache: false,
                          processData: false,
                          contentType: false,
                          success: function( data ) {
                             var content = $(data).find("#user_details_form").html();
                             var error = $(data).find(".errorlist").text();
                             console.log(error)
                             if(error){
                                $("#user_details_form").html(content)
                              }else{
                                  window.location='/user_details/family_details'
                              }
                          },
                          error: function( data ){
                            var errors = data.response;
                            console.log(errors);
                          }
                        });
                      }else{
                          swal("There was some problem with your data")
                        }});
                //   }
                // else{
                //   window.location='/user_details/sorry'
                // }
                    });

    function ReplaceID(element, suffix) {
         // console.log(element.id +'-'+ element.name) ;
     var newId = element.id+'_'+suffix; 
     $(element).attr('id', newId);
     
     $(element).val(newId); // for demo use, change to '' to reset value
}

    function ReplaceName(element, suffix) {
         // console.log(element.id +'-'+ element.name) ;
     var newName = element.name+'_'+suffix; 
     $(element).attr('name', newName);
     
     $(element).val(newName);
    }
     formNewId = 1;
     formNewName = 1;
     
    $("#add").on('click', function(){
  
        var newForm = $("#table_add0").clone();

        $('input', newForm).not(':input[type=button]').each(function(index,element){
            // iterate input element inside the form
            ReplaceID(this, formNewId); // replace id
            ReplaceName(this, formNewName); // replace id
            
            $(this).val('');

        }); 
        ReplaceID(newForm, formNewId); // replace the id of cloned form
        $("#user_details_form").append(newForm);

        ReplaceID(newForm, formNewName); // replace the id of cloned form
        $("#user_details_form").append(newForm);

        if (formNewId == 5){
          $('#add').hide();
        }

            formNewId++;
            formNewName++;

});

    // $('#id_address_type').on('change', function() {
    //     value =  this.value 
  
    // // console.log(value);

    //     if (value=='PR'){
    //         document.getElementById("address_copy").innerHTML = '<input id="address" type="checkbox" value="">Make your permanent as temporary</label>'
    //         }
    //       });

    // $('#id_address_type').on('change', function() {
    //     value =  this.value 
  
    // // console.log(value);

    //     if (value=='TM'){
    //         document.getElementById("address_copy").innerHTML = '<input id="address" type="checkbox" value="">Make your temporary as permanent</label>'
    //         }
    //       });


    $("body").on('click','#remove',function(){
      $("#add").show()
      formNewId--
      $(this).parent().parent().parent().parent().remove()
      
        });

$("#address").click(function (e) {
                  e.preventDefault();
                  
                  if(this.checked){
                        var a = document.getElementById("id_address_type").value;
                        var b = document.getElementById("id_address1").value;
                        var c = document.getElementById("id_address2").value;
                        var d = document.getElementById("id_city").value;
                        var e = document.getElementById("id_state").value;
                        var f = document.getElementById("id_country").value;
                        var g = document.getElementById("id_zipcode").value;

                        swal({   title: "Are you sure you want to copy your permanent address as temporary address?",
                          text: "",
                          type: "warning",
                          showCancelButton: true,
                          confirmButtonColor: "#DD6B55",
                          confirmButtonText: "OK",
                          cancelButtonText: "Cancel",
                          closeOnConfirm: true,
                          closeOnCancel: true
                          },
                          function(isConfirm) {
                            if (isConfirm) {

                                      $.ajax( {
                                        type: "POST",
                                        url: '/user_details/address_copy',
                                        data: {'address_type':a,'address1':b,'address2':c,'city':d,'state':e,'country':f,'zipcode':g},
                                        success: function( respone ) {
                                          
                                          swal("Success", "Permanent is saved as temporary");
                                          
                                          
                                        }

                                      });
                                    }});
                        }
                      });

$("#temp_address").click(function (e) {
                  e.preventDefault();
                  var data = new FormData($('form').get(0));
                        $.ajax( {
                          type: "POST",
                          url: '/user_details',
                          data: data,
                          cache: false,
                          processData: false,
                          contentType: false,
                          success: function( data ) {
                             window.location='/user_details/address_tempo'
                          },
                          error: function( data ){
                            var errors = data.response;
                            console.log(errors);
                          }
                        });
                        
                      });


$(".vd_body,#id_blood_group,#id_mobile_phone").click(function(e){
  var today = new Date();
  var dd = today.getDate();
  var mm = today.getMonth()+1; //January is 0!
  var yyyy = today.getFullYear();

  if(dd<10) {
      dd='0'+dd
  } 

  if(mm<10) {
      mm='0'+mm
  } 

  today = mm+'/'+dd+'/'+yyyy;

  var date_of_birth = document.getElementById("id_date_of_birth").value;

  if(date_of_birth >= today){
    swal("You cannot fill future date as your birthday!")

    document.getElementById("id_date_of_birth").value = "";
  }
});

</script>

{% endblock %}
