/* Insert Your Custom CSS Here */

/* Major overrides */

.vd_navbar{background: #3e999e}


.navbar-tabs-menu{display: none;}
.vd_panel-menu{visibility: hidden;} /* This includes resize options for the content area */

.form-group span.mandatory-field{
    color: red;
    font-size: 11px;
    position: relative;
    top: -4px;
}

/* forms section */

input[type="file"].bare{
    border: 0px !important;
    width: auto !important;	
}


/* Download forms sections */

.the-form img{
	display: block;
	width: 50%;
	margin: auto;
	border: 1px solid #dedede;
	height: 200px;
}
.the-form h3{
    text-align: center;
    color: crimson;
    padding-top: 15px;
    font-size: 16px;
}


/* User Profile */

#id_wedding_date_pickers, #id_date_of_birth_pickers{width: 50%}


/* Footer hardcoded fix */

.vd_content-wrapper{min-height: 890px !important}


/* Education form */

#user-list .content-list li{cursor: pointer;}


/* Confirm */

.thanks-text{color: #f44336; margin-bottom: 25px;}


/* Temp */

#datepicker-icon-trigger{display: none;}
#from_date + div > .input-group, #to_date + div > .input-group{width: 100%}